<section class="appartement-periode-update" *ngIf="periode">
    <div class="container">
        <form [formGroup]="periodeForm" (ngSubmit)="mettreAJourUnePeriodePourAppartement()" aria-labelledby="formTitle">

            <h2 id="formTitlePeriode">Mettre à jour une période pour l'appartement</h2>
            <div>
              <label for="locataire">Locataire <span aria-hidden="true">*</span></label>
              <input type="text" id="locataire" formControlName="locataire" aria-required="true" placeholder="Nom complet locataire">
            </div>
            <div>
                <label for="prix">Prix <span aria-hidden="true">*</span></label>
                <input type="number" id="prix" formControlName="prix" aria-required="true" [min]="1">
            </div>

            <div>
                <label for="estEntree">Entrée <span aria-hidden="true">*</span></label>
                <input
                  type="text" onfocus="(this.type='date')" onmouseover="(this.type='date')"
                  id="estEntree" formControlName="estEntree" aria-required="true">
            </div>

            <div>
                <label for="estSortie">Sortie <span aria-hidden="true">*</span></label>
                <input
                  type="text" onfocus="(this.type='date')" onmouseover="(this.type='date')"
                  id="estSortie" formControlName="estSortie" aria-required="true">
            </div>

            <div class="container-checkbox">
                <label for="locVac">Location vacances :</label>
                <input type="checkbox" id="locVac" formControlName="locVac">
            </div>

            <button class="{{periodeForm.valid ? '' : 'disabled'}}" type="submit" [disabled]="!periodeForm.valid">Mettre à jour</button>
            <button type="button" (click)="cancelUpdate()">Annuler</button>
            <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
        </form>
    </div>
</section>
