<section class="formulaire-basique">
  <app-loader *ngIf="loading"></app-loader>
  <form *ngIf="!loading" [formGroup]="alerteForm" (ngSubmit)="modifierAlertePourLogement()">
    <div class="header">
      <h1>Modifier une alerte</h1>
    </div>
    <div class="champs">
      <div class="champ">
        <label for="probleme">Problème</label>
        <textarea
          type="text"
          id="probleme"
          formControlName="probleme"
          aria-required="true">
        </textarea>
      </div>
      <div class="champ">
        <label for="solution">Solution</label>
        <textarea
          type="text"
          id="solution"
          formControlName="solution"
          aria-required="true">
        </textarea>
      </div>
      <div class="error">
        {{ error }}
      </div>
      <button type="submit" [disabled]="!alerteForm.valid">
        Enregistrer les modifications
      </button>
    </div>
    <button type="button" class="btn-supprimer-formulaire-basique" (click)="openModal()">Supprimer l'alerte</button>
    <app-fil-ariane
      [ongletRetour]="{url: '/logements/'+ logementMasqueId + '?tab=7', label:'Sythèse logement'}"
      [ongletActuel]="'Modifer une alerte'"></app-fil-ariane>
  </form>
</section>
<app-modale-confirmation
  *ngIf="isModalVisible"
  [message]=msgConfirmationSuppression
  (confirm)="confirmDelete()"
  (cancel)="closeModal()"
></app-modale-confirmation>
