.statistiques-element{
  .statistiques-contenu{
    color: black;
    padding: 1rem;
    table{
      tbody{
        tr{
          .categorie{
            font-weight: bold;
            &.light{
            }
          }
        }
      }
    }
  }
}
