<section class="periode-de-location-element">
  <div class="custom-card">
    <div class="custom-card-header">
      <h2>{{ periodesDeLocation.length === 0 ? 'Aucune période de location trouvé' : 'Périodes de location' }}</h2>
      <div class="actions-boutons">
        <app-reservations *ngIf="actionsIsVisible"
                          [logementMasqueId]="logementMasqueId"
                          [periodesDeLocation]="periodesDeLocation"
                          (periodesSontModifies)="trierPeriodesDeLocation()"
        >
        </app-reservations>
        <button
          *ngIf="actionsIsVisible"
          (click)="toggleActions()">Fermer</button>
        <img
          *ngIf="!actionsIsVisible"
          (click)="toggleActions()"
          src="./assets/img/v2/edit-icon.svg" alt="icone de modification">
        <img *ngIf="actionsIsVisible" (click)="ajouterUnePeriodeDeLocation(logementMasqueId)" src="./assets/img/v2/plus-icon.svg" alt="icone de modification">
      </div>
    </div>
    <div class="periode-de-location-contenu" *ngIf="periodesDeLocation.length > 0">
      <table>
        <thead>
        <tr>
          <th>Locataire</th>
          <th>Entrée</th>
          <th>Sortie</th>
          <th>Prix</th>
          <th *ngIf="actionsIsVisible">Actions</th>

        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let periodeDeLocation of periodesDeLocation">
            <td>
              <div class="locataire" *ngFor="let locataire of periodeDeLocation.locataires">
                {{ locataire.nom }} {{ locataire.prenom }}
              </div>
            </td>
            <td>{{ periodeDeLocation.dateDeDebut | customDate  }}</td>
            <td>{{ periodeDeLocation.dateDeFin ? (periodeDeLocation.dateDeFin | customDate) : 'Pas de sortie' }}</td>
            <td>{{ periodeDeLocation.tarif | currency: 'EUR'}} {{periodeDeLocation.typeDeLocation === 'JOURNALIERE' ? '/séjour' : '/mois'}}</td>
            <td *ngIf="actionsIsVisible">
              <a class="btn-editer-basique" (click)="modifierPeriodeDeLocation(logementMasqueId, periodeDeLocation.masqueId)" src="assets/img/v2/edit-icon.svg">Éditer</a>
              <a class="btn-editer-basique" (click)="afficherFraisPeriodeDeLocation(periodeDeLocation)">Frais</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
