.section-outil-capacite-emprunt{
  min-height: 90vh;
  margin-bottom: 7rem;
  position: relative;
  .actions{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    button{
      &.hidden{
        visibility: hidden;
      }
      &.none{
        display: none;
      }
    }
  }
  button{
    background: white;
    border: 1px solid #143b86;
    color: #143b86;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 1.3rem;
    &[disabled]{
      opacity: 0.5;
    }
    &:hover,
    &:focus{
      background: #143b86;
      color: white;
    }
  }
  .btn-ajouter{
    margin-top: 1rem;
  }
  .btn-supprimer{
    border: 1px solid red;
    color: red;
    &:hover,
    &:focus{
      background: red;
      color: white;
    }

  }
  .container{
    .form-etape-indicateurs{
      display: flex;
      justify-content: space-around;
      margin-bottom: 2rem;
      li{
        display: flex;
        flex-direction: column;
        align-items: center;
        &.etape-en-cours{
          .numero{
            background-color: #143b86;
            span{
              color: white;
            }
          }
        }
        .numero{
          background-color: #e0e0e0;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          display: flex;
          justify-content: center;
          span{
            color: black;
          }
        }
        .nom-etape{
          font-size: 1.3rem;
        }
      }
    }
    .formulaire{
      form{
        .champs{
          .resume-revenus-charges{
            margin: 2rem 0;
          }
          .champ-paire{
            margin-top: 2rem;
          }
          .champ{
            &.capacite{
              margin-top: 2rem;
            }
            .montant{
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-bottom: 1rem;
            }
            .pourcentage{
              margin-top: 1rem;
            }
            input{
              width: 100%;
              padding: .5rem;
              border-radius: 5px;
              border: 1px solid #777777;
            }
            .slider{
              padding-bottom: 0;
            }
          }
        }
        .header{
          p{
            color: grey;
            font-size: 1.4rem;
            text-align: center;
          }
        }
      }
    }
  }
}
