<div class="section-outil-capacite-emprunt">
  <div class="actions">
    <button (click)="naviguerEtape(etapeEnCours - 1)" [ngClass]="etapeEnCours === 1 ? 'hidden' : ''">Étape précédente</button>
    <button
      (click)="naviguerEtape(etapeEnCours + 1)"
      [ngClass]="etapeEnCours === 3 ? 'none' : ''"
      [disabled]="
        (etapeEnCours === 1 && !dernierMontantValide()) ||
        (etapeEnCours === 2 && !dernierMontantChargeValide())
      ">Étape suivante</button>
    <button
      *ngIf="etapeEnCours === 3 && !formCalcule"
      [disabled]="!emprunt.valid"
      (click)="calculerMaCapaciteEmprunt()">
      Calculer
    </button>

    <button
      *ngIf="etapeEnCours === 3 && formCalcule"
      class="btn-supprimer"
      (click)="reinitialiserFormulaire()">
      Réinitialiser
    </button>
  </div>
  <app-header [h1]="'Ma capacite d\'emprunt'"></app-header>
  <div class="container">

    <ul class="form-etape-indicateurs">
      <li [ngClass]="etapeEnCours === 1 ? 'etape-en-cours' : ''">
        <div class="numero">
          <span>1</span>
        </div>
        <span class="nom-etape">Revenus</span>
      </li>
      <li [ngClass]="etapeEnCours === 2 ? 'etape-en-cours' : ''">
        <div class="numero">
          <span>2</span>
        </div>
        <span class="nom-etape">Charges</span>
      </li>
      <li [ngClass]="etapeEnCours === 3 ? 'etape-en-cours' : ''">
        <div class="numero">
          <span>3</span>
        </div>
        <span class="nom-etape">Emprunt</span>
      </li>
    </ul>
    <section *ngIf="etapeEnCours === 1" class="formulaire">
      <form [formGroup]="revenusForm" class="etape-form">
        <div class="header">
          <p>Indiquez tous vos revenus nets mensuels et le pourcentage pris en charge par la banque</p>
        </div>

        <div class="champs" formArrayName="revenus">
          <div
            class="champ-paire"
            *ngFor="let revenu of revenus.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="champ">
              <label class="montant">
                <span>Montant mensuel</span>
                <button
                  type="button"
                  class="btn-supprimer"
                  *ngIf="i > 0"
                  (click)="supprimerRevenu(i)">
                Supprimer ce revenu
              </button></label>
              <input
                type="number"
                formControlName="montant"
                placeholder="0"
                min="1"
              />
            </div>

            <div class="champ">
              <label class="pourcentage">
                Pourcentage pris en charge :
                {{ revenus.at(i).get('pourcentagePrisEnCharge')?.value }}%
              </label>
              <input
                type="range"
                formControlName="pourcentagePrisEnCharge"
                min="0"
                max="100"
                class="slider"
              />
              <div class="pourcentage-info">
                <small>
                  Montant pris en charge :
                  <strong>{{
                      calculerMontantPrisEnCharge(i) | currency: 'EUR':'symbol':'1.0-0'
                    }}</strong>
                </small>
              </div>
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn-ajouter"
          [disabled]="!dernierMontantValide()"
          (click)="ajouterRevenu()"
        >
          Ajouter un revenu
        </button>
      </form>

    </section>
    <section *ngIf="etapeEnCours === 2" class="formulaire">
      <form [formGroup]="charges" class="etape-form">
        <div class="header">
          <p>Indiquez toutes vos charges fixes mensuelles (crédits en cours, etc.) pris en compte par la banque dans votre taux d'endettement</p>
        </div>

        <div class="champs" formArrayName="charges">
          <div
            class="champ-paire"
            *ngFor="let charge of listeCharges.controls; let i = index"
            [formGroupName]="i"
          >
            <div class="champ">
              <label class="montant">
                <span>Montant mensuel</span>
                <button
                  type="button"
                  class="btn-supprimer"
                  *ngIf="i > 0"
                  (click)="supprimerCharge(i)">
                  Supprimer cette charge
                </button>
              </label>
              <input
                type="number"
                formControlName="montant"
                placeholder="0"
                min="1"
              />
            </div>
          </div>
        </div>

        <button
          type="button"
          class="btn-ajouter"
          [disabled]="!dernierMontantChargeValide()"
          (click)="ajouterCharge()">
          Ajouter une charge
        </button>
      </form>
    </section>
    <section *ngIf="etapeEnCours === 3" class="formulaire">
      <form [formGroup]="emprunt" class="etape-form">
        <div class="header">
          <p>Indiquez le prêt que vous souhaitez effectuer (taux du prêt, taux d'endettement autorisé)</p>
        </div>

        <div class="champs">
          <div class="resume-revenus-charges">
            <div class="champ">
              <div class="pourcentage-info">
                <small>
                  Total des revenus pris en charge :
                  <strong>{{ getTotalRevenusPrisEnCharge() | currency: 'EUR':'symbol':'1.0-0' }}</strong>
                </small>
              </div>
            </div>

            <div class="champ">
              <div class="pourcentage-info">
                <small>
                  Total des charges :
                  <strong>{{ getTotalCharges() | currency: 'EUR':'symbol':'1.0-0' }}</strong>
                </small>
              </div>
            </div>

            <div class="champ">
              <div class="pourcentage-info">
                <small>
                  Taux d'endettement actuel :
                  <strong>{{ getTauxEndettement() | number: '1.0-2' }}%</strong>
                </small>
              </div>
            </div>
          </div>

          <ng-container *ngIf="!formCalcule">

            <div class="champ">
              <label for="taux">Taux d’intérêt (en %)</label>
              <input
                type="number"
                formControlName="taux"
                id="taux"
                placeholder="0"
                step="0.1"
              />
            </div>

            <div class="champ">
              <label for="tauxEndettementAutorise">Taux d’endettement autorisé (en %)</label>
              <input
                type="number"
                formControlName="tauxEndettementAutorise"
                id="tauxEndettementAutorise"
                placeholder="33"
                step="0.1"
              />
            </div>
          </ng-container>
          <div *ngIf="formCalcule" class="champ">
            <div class="pourcentage-info">
              <small>
                Taux d’endettement autorisé :
                <strong>{{ emprunt.get('tauxEndettementAutorise')?.value }}%</strong>
              </small>
            </div>
          </div>

          <div *ngIf="formCalcule" class="champ">
            <div class="pourcentage-info">
              <small>
                Taux d’intérêt du prêt :
                <strong>{{ emprunt.get('taux')?.value }}%</strong>
              </small>
            </div>
          </div>

          <div *ngIf="formCalcule && mensualiteCible !== null" class="champ">
            <div class="pourcentage-info">
              <small>
                Mensualité cible autorisée :
                <strong>{{ mensualiteCible | currency:'EUR':'symbol':'1.0-0' }}</strong>
              </small>
            </div>
          </div>

          <div *ngIf="formCalcule && capacitesParDuree.length > 0" class="champ capacite">
            <div class="pourcentage-info">
              <small>
                Capacité d’emprunt estimée :
              </small>
            </div>

            <div class="pourcentage-info" *ngFor="let capacite of capacitesParDuree">
              <small>
                Durée : <strong>{{ capacite.duree }} ans</strong> —
                Montant empruntable : <strong>{{ capacite.montant | currency:'EUR':'symbol':'1.0-0' }}</strong>
              </small>
            </div>
          </div>

          <div *ngIf="formCalcule && capacitesParDuree.length === 0" class="champ">
            <div class="pourcentage-info">
              <small style="color: red;">
                ⚠️ Votre taux d’endettement dépasse le seuil autorisé : aucune mensualité disponible.
              </small>
            </div>
          </div>

        </div>
      </form>
    </section>


  </div>
  <app-navigation-globale></app-navigation-globale>
</div>

