.link-decompte{
  margin: 1rem;
  padding: 1rem;
  display: block;
  background-color: white;
  width: max-content;
  color: #143b86;
  text-decoration: none;
  border-radius: .5rem;
  border: 2px solid;
}
