.dashboard{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-weight: bold;
    color: #143b86;
  }
  app-header {
    margin: 0;
  }

  app-appartement-list {
    margin: 0;
  }
  .container {
    margin: 0;
  }
  app-footer {
    margin-bottom: 0;
  }
}
