<section class="appartement-frais-list">
    <div class="container">
        <div class="custom-card">
          <div class="custom-card-header">
            <h2>Frais fixes</h2>
            <a *ngIf="!isEditable && !isPeriode" [routerLink]="['/appartement/' +  appartementId + '/frais']"><img
              ngSrc="./assets/img/edit-icon.svg" alt="icone de modification" height="40" width="40"></a>
          </div>
            <table>
              <thead>
              <tr>
                <th>Type de Frais</th>
                <th>Montant (€)</th>
                <th>Fréquence</th>
                <td *ngIf="isEditable">Actions</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let frais of appartementFrais">
                <td>{{ frais.nom !== null ? frais.nom : frais.typeFrais.nom }}</td>
                <td>{{ frais.montant }}</td>
                <td>{{ frais.datePaiement !== null ? (frais.datePaiement | customDate) : frais.frequence }}</td>
                <td *ngIf="isEditable"  class="actions-container">
                  <img ngSrc="assets/img/modify-icon.svg" alt="to change icon" (click)="onUpdateFrais(frais)"
                       height="40" width="40"/>
                  <img ngSrc="assets/img/trash-icon.svg" alt="trash icon" (click)="onDeleteFrais(frais.id)" height="40"
                       width="40"/>
                </td>
              </tr>
              </tbody>
            </table>
            <app-pagination *ngIf="totalPages > 1" [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"></app-pagination>
          </div>
        </div>
</section>
