<app-header [goBackIsHidden]="true"></app-header>
<section class="utilisateur-login">
  <div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" aria-labelledby="formTitle">

      <h2 id="formTitle">Se connecter</h2>

      <div>
        <label for="username">Nom d'utilisateur <span aria-hidden="true">*</span></label>
        <input type="text" id="username" formControlName="username" class="form-control" aria-required="true">
      </div>

      <div>
        <label for="password">Mot de passe <span aria-hidden="true">*</span></label>
        <input type="password" id="password" formControlName="password" class="form-control" aria-required="true">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
        Se connecter
      </button>
    </form>
  </div>
</section>
<app-footer></app-footer>
