<section class="appartement-contact-list">
    <div class="container">
        <div class="custom-card">
            <div class="custom-card-header">
                <h2>Contacts</h2>
                <a *ngIf="!isEditable && hasProprietaireRole()" [routerLink]="['/appartement/' +  appartementId + '/contacts']"><img
                  ngSrc="./assets/img/edit-icon.svg" alt="icone de modification" height="40" width="40"></a>
            </div>
            <table *ngIf="appartementContacts">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th *ngIf="isEditable">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let contact of appartementContacts">
                    <td>{{ contact.pseudo }}</td>
                    <td class="email"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                    <td class="phone"><a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a></td>
                    <td *ngIf="isEditable"  class="actions-container">
                        <img ngSrc="assets/img/modify-icon.svg" alt="to change icon" (click)="onUpdateContact(contact)" height="40" width="40"/>
                        <img ngSrc="assets/img/trash-icon.svg" alt="trash icon" (click)="onDeleteContact(contact.id)" height="40" width="40"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
