<header>
  <div class="actions-container">
    <button
      *ngIf="!goBackIsHidden"
      (click)="goBack()"
    src="./assets/img/back-icon.svg"
    class="back-icon" alt="back icon menu">
      <img

        src="./assets/img/back-icon.svg"
        class="back-icon" alt="back icon menu"
      >
    </button>
    <img
      (click)="toggleMenu()"
      src="./assets/img/burger-icon.svg"
      class="burger-icon" alt="burger menu">
  </div>
  <nav [class.open]="menuOpen">
    <ul>
      <div *ngIf="isLoggedIn()">
        <li>
          <a [routerLink]="'/dashboard'">Appartements</a>
        </li>
        <li>
          <button (click)="onLogout()">Déconnexion</button>
        </li>
      </div>
      <div *ngIf="!isLoggedIn()">
        <li>
          <button [routerLink]="'/create'">Créer un compte</button>
        </li>
        <li>
          <button (click)="onLogin()">Connexion</button>
        </li>
      </div>
    </ul>
  </nav>
</header>
