<section class="appartement-periode-add">
    <div class="container">
        <form [formGroup]="periodeForm" (ngSubmit)="ajouterUnePeriodeLocationPourAppartement()" aria-labelledby="formTitle">

            <h2 id="formTitle">Ajouter une période</h2>
            <div>
              <label for="locataire">Locataire <span aria-hidden="true">*</span></label>
              <input type="text" id="locataire" formControlName="locataire" aria-required="true" placeholder="Nom complet locataire">
            </div>
            <div>
                <label for="prix">Prix <span aria-hidden="true">*</span></label>
                <input type="number" id="prix" formControlName="prix" aria-required="true" [min]="1">
            </div>

          <div>
            <label for="estEntree">Entrée <span aria-hidden="true">*</span></label>
            <input
              type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
              id="estEntree" formControlName="estEntree" aria-required="true" placeholder="JJ/MM/AAAA">
          </div>

          <div>
            <label for="estSortie">Sortie <span aria-hidden="true">*</span></label>
            <input
              type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
              id="estSortie" formControlName="estSortie" aria-required="true" placeholder="JJ/MM/AAAA">
          </div>


          <div class="container-checkbox">
                <label for="locVac">Location vacances :</label>
                <input type="checkbox" id="locVac" formControlName="locVac">
            </div>

            <button class="{{periodeForm.valid ? '' : 'disabled'}}" type="submit" [disabled]="!periodeForm.valid">Ajouter</button>
            <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
        </form>
    </div>
</section>
