<section class="inscription">
  <form [formGroup]="registerForm" (ngSubmit)="inscription()">
    <div class="header">
      <h1>Rejoignez Optimmo aujourd'hui</h1>

    </div>
    <div class="champs">
      <div class="champ">
        <label for="email">E-mail <span aria-hidden="true">*</span></label>
        <input
          type="email"
          id="email"
          formControlName="email"
          aria-required="true">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.dirty" class="error">
          <span *ngIf="registerForm.get('email')?.errors?.['required']">L'adresse e-mail est obligatoire.</span>
          <span *ngIf="registerForm.get('email')?.errors?.['email']">Veuillez entrer une adresse e-mail valide.</span>
        </div>
      </div>
      <div class="champ">
        <label for="mdp">Mot de passe <span aria-hidden="true">*</span></label>
        <input
          type="password"
          id="mdp"
          formControlName="mdp"
          aria-required="true">
        <div *ngIf="registerForm.get('mdp')?.invalid && (registerForm.get('mdp')?.dirty)" class="error">
          <span *ngIf="registerForm.get('mdp')?.errors?.['required']">Le mot de passe est obligatoire.</span>
          <span *ngIf="registerForm.get('mdp')?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</span>
          <span *ngIf="registerForm.get('mdp')?.errors?.['pattern']">Le mot de passe doit contenir au moins un chiffre et un caractère spécial.</span>
        </div>
      </div>
      <div class="champ">
        <label for="confirmMdp">Confirmez le mot de passe <span aria-hidden="true">*</span></label>
        <input
          type="password"
          id="confirmMdp"
          formControlName="confirmMdp"
          aria-required="true">
        <div *ngIf="registerForm.get('confirmMdp')?.dirty && registerForm.hasError('notMatching')" class="error">
          <span>Les mots de passe ne correspondent pas.</span>
        </div>
      </div>
      <div class="champ">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          formControlName="nom">
      </div>
      <div class="champ">
        <label for="prenom">Prénom</label>
        <input
          type="text"
          id="prenom"
          formControlName="prenom">
      </div>
      <div class="champ">
        <label>Téléphone</label>
        <ngx-intl-tel-input
          inputId="telephone"
          formControlName="telephone"
          [preferredCountries]="[CountryISO.France, CountryISO.Spain]"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="false"
          [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.France"
          [maxLength]="15"
          [phoneValidation]="true"
        ></ngx-intl-tel-input>
      </div>

      <div class="error">
        {{ error }}
      </div>
      <button type="submit" [disabled]="!registerForm.valid">
        S'inscrire
      </button>
      <a class="mode-connexion" href="/connexion">Connectez-vous ?</a>
    </div>
  </form>
</section>
