<section class="frais-element">
  <div class="custom-card">
    <div class="custom-card-header">
      <h2>{{ frais.length === 0 ? 'Aucun frais trouvé' : 'Frais fixes' }}</h2>
      <div class="actions-boutons">
        <button
          *ngIf="actionsIsVisible"
          (click)="toggleActions()">Fermer</button>
        <img
          *ngIf="!actionsIsVisible"
          (click)="toggleActions()"
          src="./assets/img/v2/edit-icon.svg" alt="icone de modification">
        <img *ngIf="actionsIsVisible" (click)="ajouterUnFraisPourLogement(logementMasqueId)" src="./assets/img/v2/plus-icon.svg" alt="icone de modification">
      </div>    </div>
    <div class="frais-contenu" *ngIf="frais.length > 0">
      <table>
        <thead>
        <tr>
          <th>Type de frais</th>
          <th>Montant</th>
          <th>Fréquence</th>
          <th>Paiements</th>
          <th *ngIf="actionsIsVisible">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let fraisItem of pagedFrais">
          <td>{{ fraisItem.nom !== null && fraisItem.nom !== '' ? fraisItem.nom : fraisItem.categorieFrais }}</td>
          <td>{{ fraisItem.montant | currency: 'EUR' }}</td>
          <td>{{ fraisItem.frequence === 'PONCTUELLE' ? (fraisItem.dateDeDebut | customDate) : fraisItem.frequence }}</td>
          <td>{{ getNombreOccurrences(fraisItem.dateDeDebut, fraisItem.dateDeFin, fraisItem.frequence) }}</td>
          <td *ngIf="actionsIsVisible"><a class="btn-editer-basique" (click)="modifierFraisPourLogement(logementMasqueId, fraisItem.masqueId)" src="assets/img/v2/edit-icon.svg">Éditer</a></td>
        </tr>
        </tbody>
      </table>
      <app-pagination
        *ngIf="frais.length > itemsPerPage"
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChanged)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>
</section>
