<section class="locataire-element">
  <div class="custom-card">
    <div class="custom-card-header">
      <h2>{{ locataires.length === 0 ? 'Aucun locataire trouvé' : 'Locataires' }}</h2>
      <div class="actions-boutons">
        <button
          *ngIf="actionsIsVisible"
          (click)="toggleActions()">Fermer</button>
        <img
          *ngIf="!actionsIsVisible"
          (click)="toggleActions()"
          src="./assets/img/v2/edit-icon.svg" alt="icone de modification">
        <img
          *ngIf="actionsIsVisible"
          (click)="ajouterUnLocataire(logementMasqueId)"
          src="./assets/img/v2/plus-icon.svg" alt="icone d'ajout">
      </div>
    </div>
    <div class="locataire-contenu" *ngIf="locataires.length > 0">
      <table>
        <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th *ngIf="actionsIsVisible">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let locataire of locataires">
          <td>{{ locataire.nom }}</td>
          <td>{{ locataire.prenom }}</td>
          <td><a href="mailto:{{ locataire.email }}">{{ locataire.email }}</a></td>
          <td><a href="tel:{{ locataire.telephone }}">{{ locataire.telephone }}</a></td>
          <td *ngIf="actionsIsVisible"><a class="btn-editer-basique" (click)="modifierLocataire(logementMasqueId, locataire.masqueId)" src="assets/img/v2/edit-icon.svg">Éditer</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
