.locataire-contenu{
  padding: 1rem;
  .btn-editer-basique{
    background-color: #1c5eeb;
    color: white;
    border-radius: .5rem;
    margin: .2rem;
    padding: .3rem 1.1rem;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
