
.appartement-list {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .container{

    .appartement-item {
      h3{
        color: #143b86;
        padding-bottom: 0.8rem;
        font-weight: 300;
      }
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      background-color: white;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 10px;
      margin-bottom: 10px;

      .appartement-info {

        flex: 1;

        .adresse{
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        }
      }
    }
  }
}
