<section class="appartement-stats-list">
    <div class="container">
        <div class="custom-card">
            <div class="custom-card-header">
                <h2>Statistiques de l'appartement</h2>
            </div>
            <table>
                <thead>
                <tr>
                    <th>Métrique</th>
                    <th>Valeur</th>
                    <th *ngIf="false">Formule</th>
                    <th>Formule</th>
                </tr>
                </thead>
                <tbody>
                <tr (click)="showInfo('revenus_nets')">
                  <td>Total des revenus</td>
                  <td class="number">{{appartement.revenusNets  | number:'1.2-2':'fr-FR'  }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr (click)="showInfo('depenses_nettes')">
                  <td>Total des dépenses</td>
                  <td class="number">{{appartement.depensesNettes  | number:'1.2-2':'fr-FR' }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr *ngIf="appartement.rentabiliteNette !== 0" (click)="showInfo('rentabilite_nette')">
                  <td>Bénéfice net</td>
                  <td class="number">{{appartement.rentabiliteNette  | number:'1.2-2':'fr-FR' }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr *ngIf="appartement.moyenneBeneficesNetParMois !== 0" (click)="showInfo('moyenne_benefice')">
                  <td>Bénéfice mensuel moyen</td>
                  <td  class="number">{{appartement.moyenneBeneficesNetParMois | number:'1.2-2':'fr-FR' }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr (click)="showInfo('taux_vacance_locative')">
                    <td>Taux d'occupation</td>
                    <td  class="number">{{appartement.tauxVacanceLocative | number:'1.2-2':'fr-FR' }}%</td>
                    <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr (click)="showInfo('total_frais_gestion')">
                  <td>Total des frais de gestion</td>
                  <td class="number">{{appartement.totalFraisGestion  | number:'1.2-2':'fr-FR' }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                <tr (click)="showInfo('total_honoraires_de_loc')">
                  <td>Total des honoraires de location</td>
                  <td class="number">{{appartement.totalHonorairesDeLoc  | number:'1.2-2':'fr-FR' }} €</td>
                  <td class="help-container"><img src="assets/img/help.svg" alt=""></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
