.photo-caroussel {
  height: 100%;
  .custom-card {
    height: 100%;


  }
  .carousel-container {
    margin-top: 1.5rem;



    ngb-carousel {
      aspect-ratio: 16/9;
      overflow: hidden;
      background-color: #143b86;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

}
