<section class="photo-caroussel">

  <div class="carousel-and-photos">
    <div class="carousel-container {{ onItem ? 'on-item' : '' }}"
         (touchstart)="onTouchStart($event)"
         (touchmove)="onTouchMove($event)"
         (touchend)="onTouchEnd()">
      <img
        class="btn-modifier-photo"
        *ngIf="onItem"
        (click)="modifierPhotos()"
        src="assets/img/v2/edit-icon.svg"
        alt="icone de modification"
      />
      <ngb-carousel *ngIf="photos.length > 0" [interval]="onItem ? 5000 : 0" #carousel>

        <ng-template ngbSlide *ngFor="let photo of photos">
          <div>
            <img
              class="picsum-img-wrapper"
              [src]="'data:image/jpeg;base64,' + photo.image"
              [alt]="'Image appartement'"
            />
          </div>
        </ng-template>
      </ngb-carousel>
      <ngb-carousel *ngIf="photos.length === 0" [interval]="onItem ? 5000 : 0" #carousel>
        <ng-template ngbSlide>
          <div>
            <img
              class="picsum-img-wrapper"
              src="/assets/img/v2/no-image.jpg"
              [alt]="'Image appartement'"
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <!-- Two photos on the right -->
    <div class="side-photos" *ngIf="photos.length > 0">
      <div *ngFor="let photo of rightSidePhotos">
        <img
          [src]="'data:image/jpeg;base64,' + photo.image"
          alt="Additional image"
          class="side-photo"
        />
      </div>
    </div>
    <div class="side-photos" *ngIf="photos.length === 0">
      <img
        src="/assets/img/v2/no-image.jpg"
        alt="Additional image"
        class="side-photo"
      />
      <img
        src="/assets/img/v2/no-image.jpg"
        alt="Additional image"
        class="side-photo"
      />
    </div>
  </div>
</section>
