<section class="photo-caroussel {{ onItem ? 'on-item' : '' }}">
  <div class="carousel-container"
       (touchstart)="onTouchStart($event)"
       (touchmove)="onTouchMove($event)"
       (touchend)="onTouchEnd()">
    <div class="slide-container">
      <img
        class="btn-modifier-photo"
        *ngIf="onItem"
        (click)="modifierPhotos()"
        src="assets/img/v2/edit-icon.svg"
        alt="icone de modification"
      />
      <ngb-carousel class="{{ onItem ? 'on-item' : '' }}" [interval]="onItem ? 5000 : 0" #carousel>

        <ng-template ngbSlide *ngFor="let photo of photos">
          <div>
            <img
              (click)="naviguerALogement()"
              class="picsum-img-wrapper"
              [src]="'data:image/jpeg;base64,' + photo.image"
              [alt]="'Image appartement'"
            />
          </div>
        </ng-template>
      </ngb-carousel>
    </div>

    <div class="side-photos" *ngIf="onItem">
      <div *ngFor="let photo of rightSidePhotos">
        <img
          [src]="'data:image/jpeg;base64,' + photo.image"
          alt="Additional image"
          class="side-photo"
        />
      </div>
    </div>
  </div>
</section>
