.photo-caroussel {
  .carousel-container{
    .slide-container{
      position: relative;
      .btn-modifier-photo{
        background-color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        padding: 0.3rem;
        opacity: .8;
      }
      ngb-carousel {

        aspect-ratio: 16/9;
        background-color: #143b86;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      ngb-carousel.on-item img {
        object-fit: contain;
      }

    }
    .side-photos {
      display: none;
    }

  }
}
@media (min-width: 50rem) {
  .photo-caroussel.on-item {
    padding: 0 2rem;
    max-width: 120rem;
    margin: auto;
    .carousel-container{

      display: grid;
      grid-template-columns: 70% 30%;
      padding-right: 17rem;
      gap: 1rem;
      .slide-container{
        ngb-carousel {
          aspect-ratio: unset;
          height: 100%;
          overflow: hidden;
        }
      }

      .side-photos {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        div{
          margin: 0;
        }
        img{
          width: 100%;
        }
      }
    }
  }
}
