
<form [formGroup]="impotsCalculateurForm"  (ngSubmit)="onSubmit()">
  <div *ngIf="currentStep === 1" class="revenus-step">
    <div formArrayName="revenus">
      <div *ngFor="let mouvement of revenusFormArray.controls; let i = index" [formGroupName]="i">
        <!-- Sélecteur pour les types de revenus -->
        <h3>{{ mouvement.get('nom').value }}</h3>
        <label for="typeRevenu-{{i}}">Type de revenu:</label>
        <select id="typeRevenu-{{i}}" formControlName="typeRevenu">
          <option value="locatifsMeubles">Locatifs Meublés</option>
          <option value="locatifsNonMeubles">Locatifs Non Meublés</option>
          <option value="partsScpi">Parts SCPI</option>
          <option value="salarial">Salaire</option>
        </select>

        <!-- Sélecteur pour les types de régime fiscal -->
        <label for="regimeFiscal-{{i}}">Régime fiscal:</label>
        <select id="regimeFiscal-{{i}}" formControlName="regimeFiscal">
          <option [value]="key" *ngFor="let key of objectKeys(regimesFiscaux)">{{ regimesFiscaux[key].description }}</option>
        </select>

        <!-- Champ de saisie pour la somme réelle -->
        <div *ngIf="mouvement.get('regimeFiscal')?.value === 'reel'">
          <label for="sommeReelle-{{i}}">Somme Réelle:</label>
          <input id="sommeReelle-{{i}}" type="number" formControlName="sommeReelle">
        </div>
      </div>
    </div>
    <button type="button" (click)="navigateToStepTwo()">Suivant</button>
  </div>
  <div *ngIf="currentStep === 2" class="depenses-step">
    <div formArrayName="depenses">
      <ul>
        <li  *ngFor="let mouvement of depensesFormArray.controls; let i = index" [formGroupName]="i">
          <label for="deductible-{{i}}">{{ mouvement.get('nom').value }}</label>
          <input id="deductible-{{i}}"  type="checkbox" formControlName="deductible">
        </li>
      </ul>
    </div>
    <button type="button" (click)="previousStep()">Précédent</button>
    <button type="button" (click)="navigateToStepThree()">Suivant</button>
  </div>
  <div *ngIf="currentStep === 3" class="depenses-verification">
    <h3>Compléter ces informations</h3>
    <div formArrayName="depensesVerification">
      <ul>
        <li  *ngFor="let mouvement of depensesVerification; let i = index" [formGroupName]="i">
          <p>Est ce que "{{ mouvement.nom }}" est concerné par l'un des cas suivants ? Si oui veuillez le séléctionner :</p>
          <label for="typeDeductible-{{i}}">
            Type déductible :
          </label>
          <select id="typeDeductible-{{i}}" formControlName="typeDeductible" (change)="onTypeDeductibleChange(i)">
            <option value="per">Placement PER</option>
            <option disabled value="dons">Dons et associations</option>
          </select>
          <div *ngIf="depensesVerificationFormArray.at(i).get('typeDeductible').value === 'per';">
            <label for="revenuAnnuelPrecedent-{{i}}">Revenu annuel de l'année précédente :</label>
            <input type="number" id="revenuAnnuelPrecedent-{{i}}" formControlName="revenuAnnuelPrecedent" />
          </div>
        </li>
      </ul>
    </div>
    <button type="button" (click)="previousStep()">Précédent</button>
    <button type="button" (click)="navigateToValidate()">Suivant</button>
  </div>

  <button type="submit">Calculer</button>
</form>
