.champ{
  height: 3rem;
  padding:
    0 1rem;
  border:
    1px solid #d8d8d8;
  box-shadow: rgba(188, 189, 191, 0.2) 0 2px 11px;
  background-color: white;
  border-radius:
    1.5rem;
  color: #154dc7;
  display: flex;
}

input[type="file"] {
  display: none;
}
.modale-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000002e;
  display: flex;
  z-index: 100;

  .modale {
    background-color: white;
    margin: auto;
    position: relative;
    width: 32rem;
    max-width: 100%;

    .close-button {
      position: absolute;
      right: 0;
      top: 0;
      background: none;
      border: none;
      padding: 0.5rem 1rem 0.5rem 2rem;
      font-size: 2.5rem;
      color: grey;
      cursor: pointer;
      z-index: 1000;
    }
    .close-button.avec-loader{
      display: none;
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;

      img {
        border-radius: 50%;
        border: 2px solid #1c5eeb;
        padding: 1rem;
        width: 5rem;
        height: 5rem;
      }

      h2 {
        margin-top: 1.5rem;
        color: #5e5d5d;
      }

      p {
        color: grey;
        font-size: 1.3rem;
        text-align: center;
        margin: 1rem 0;
      }

      .modal-footer {
        margin: 2rem 0;
        gap: 1rem;
        justify-content: center;

        button {
          padding: 0.5rem 1.5rem;
          border: none;
          color: white;
          background-color: #1c5eeb;
          border-radius: 4px;
        }
      }
    }
    .modal-body.avec-loader {
      margin-bottom: 4rem;
    }

  }
}
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #1c5eeb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 2rem auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
