<app-header></app-header>
<app-appartement-periode-list
        [isEditable]="true"
        [appartementId]="appartementId"
        (periodeToUpdate)="setPeriodeToUpdate($event)">
</app-appartement-periode-list>
<app-appartement-periode-add  *ngIf="!isUpdateMode" [appartementId]="appartementId"></app-appartement-periode-add>
<app-appartement-periode-update *ngIf="isUpdateMode" [periode]="periodeToUpdate" (cancelUpdateEvent)="handleCancelUpdate()"></app-appartement-periode-update>

<app-footer></app-footer>