<section class="appartement-periode-list" *ngIf="isLoad">
    <div class="container">
        <div class="custom-card">
          <div class="custom-card-header">
              <h2>Entrées / Sorties</h2>
              <a *ngIf="!isEditable" [routerLink]="['/appartement/' +  appartementId + '/periodes']"><img
                      src="../../../../../../assets/img/v2/edit-icon.svg" alt="icone de modification" ></a>
          </div>
          <div *ngIf="totalPages > 0">
            <table class="appartement-list-periode">
              <thead>
              <tr>
                <th>Locataire</th>
                <th>Entrée</th>
                <th>Sortie</th>
                <th>Prix</th>
                <td *ngIf="isEditable">Actions</td>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let m of appartPeriodLocation">
                <td>{{m.locataire}}</td>
                <td>{{ m.estEntree | customDate  }}</td>
                <td>{{ m.estSortie | customDate }}</td>
                <td>{{ m.prix}}€ {{ m.locVac ? '/jour' : '/mois'}}</td>
                <td *ngIf="isEditable"  class="actions-container">
                  <img src="assets/img/modify-icon.svg" alt="to change icon" (click)="onUpdatePeriode(m)" />
                  <img src="assets/img/trash-icon.svg" alt="trash icon" (click)="onDeletePeriode(m.id)" />
                </td>
              </tr>

              </tbody>
            </table>
            <app-pagination *ngIf="totalPages > 1" [currentPage]="currentPage" [totalPages]="totalPages" (pageChanged)="onPageChange($event)"></app-pagination>
          </div>

        </div>
    </div>
</section>

