<section class="contact-element">
  <div class="custom-card">
    <div class="custom-card-header">
      <h2>{{ contacts.length === 0 ? 'Aucun contact trouvé' : 'Contacts' }}</h2>
      <div class="actions-boutons">
        <button
          *ngIf="actionsIsVisible"
          (click)="toggleActions()">Fermer</button>
        <img
          *ngIf="!actionsIsVisible"
          (click)="toggleActions()"
          src="./assets/img/v2/edit-icon.svg" alt="icone de modification">
        <img *ngIf="actionsIsVisible" (click)="ajouterUnContact(logementMasqueId)" src="./assets/img/v2/plus-icon.svg" alt="icone de modification">
      </div>
    </div>
    <div class="contact-contenu" *ngIf="contacts.length > 0">
      <table>
        <thead>
        <tr>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Email</th>
          <th>Téléphone</th>
          <th *ngIf="actionsIsVisible">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact.prenom }}</td>
          <td>{{ contact.nom }}</td>
          <td class="email"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
          <td class="phone"><a href="tel:{{ contact.telephone }}">{{ contact.telephone }}</a></td>
          <td *ngIf="actionsIsVisible"><a class="btn-editer-basique" (click)="modifierContact(logementMasqueId, contact.masqueId)" src="assets/img/v2/edit-icon.svg">Éditer</a></td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
