<section class="appartement-gestionnaire-update" *ngIf="gestionnaire">
  <div class="container">
    <form [formGroup]="appGestionnaireForm" (ngSubmit)="mettreAJourUnGestionnairePourAppartement()" aria-labelledby="formTitle">

      <h2 id="formTitle">Mettre à jour le gestionnaire</h2>

      <div>
        <label for="username">Nom <span aria-hidden="true">*</span></label>
        <input type="text" id="username" formControlName="username" aria-required="true">
      </div>

      <div>
        <label for="email">Email <span aria-hidden="true">*</span></label>
        <input type="email" id="email" formControlName="email" aria-required="true">
      </div>

      <div>
        <label for="phoneNumber">Téléphone <span aria-hidden="true">*</span></label>
        <input type="tel" id="phoneNumber" formControlName="phoneNumber" aria-required="true">
      </div>

      <button class="{{appGestionnaireForm.valid ? '' : 'disabled'}}" type="submit" [disabled]="!appGestionnaireForm.valid">Mettre à jour</button>
      <button type="button" (click)="cancelUpdate()">Annuler</button>
      <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
    </form>
  </div>
</section>
