<section class="appartement-periode-manage">
  <app-header></app-header>
  <div *ngIf="!isLoad" class="loader"></div>
  <app-appartement-periode-list
    [isEditable]="true"
    [appartementId]="appartementId"
    (periodeToUpdate)="setPeriodeToUpdate($event)"
    (periodeIsLoad)="handlePeriodeIsLoad($event)"
  >
  </app-appartement-periode-list>

  <app-appartement-periode-add
    *ngIf="!isUpdateMode && isLoad"
    [appartementId]="appartementId">
  </app-appartement-periode-add>

  <app-appartement-periode-update
    *ngIf="isUpdateMode && periodeToUpdate"
    [periode]="periodeToUpdate"
    (cancelUpdateEvent)="handleCancelPeriodeUpdate()">
  </app-appartement-periode-update>

  <app-appartement-frais-list
    *ngIf="isUpdateMode"
    [isPeriode]="true"
    [isEditable]="true"
    [appartementId]="appartementId"
    [periode]="periodeToUpdate"
    (fraisToUpdate)="setFraisToUpdate($event)">
  </app-appartement-frais-list>

  <app-appartement-frais-add
    *ngIf="isUpdateMode && isFraisAddingMode && !fraisToUpdate"
    [isPeriode]="true"
    [typesFrais]="typesFrais"
    [appartementId]="appartementId"
    [periode]="periodeToUpdate"></app-appartement-frais-add>

  <app-appartement-frais-update
    *ngIf="isUpdateMode && fraisToUpdate"
    [typesFrais]="typesFrais"
    [frais]="fraisToUpdate"
    [periode]="periodeToUpdate"
    (cancelUpdateEvent)="handleCancelFraisUpdate()">
  </app-appartement-frais-update>



  <app-footer></app-footer>
</section>
