.appartement-frais-list{
  margin-bottom: 1rem;
  margin-top: 1rem;
  .container{
    .custom-card{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      .custom-card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2{
          font-size: .9rem;
        }
        a{
          padding: .5rem;
          background-color: #143b86;
          border-radius: 4px;
          color: white;
          text-decoration: none;
          font-size: .8rem;
          margin: 0;
          height: max-content;
        }
      }

      table{
        width: 100%;
        thead, tbody, tfoot, tr, td, th {
          padding: .5rem;
          font-size: .8rem;
          button{
            margin: 0;
          }
        }
        tr {
          border: 1px solid #e3e3e3;
          .actions-container{
            display: flex;
            gap: .2rem;
            justify-content: space-between;
            height: 100%;
            img{
              width: .8rem;
            }
          }
        }
        td, th{
          border-left: 1px solid #d7d7d7;
        }
      }
    }
  }

}
