.section-outils-vue-ensemble{
  min-height: 90vh;
  margin-bottom: 7rem;
  .outils-title{
    margin-bottom: 2rem;
  }
  .outils-liste{
    .custom-card{
      padding: 1rem;
      cursor: pointer;
      &:hover,
      &:focus{
        border-color: #143b86;
      }
      h2{
        font-weight: bold;
        color: #143b86;
      }
      p{
        color: #535353;
        font-style: italic;
      }
    }
  }
}
