.section-outils-vue-ensemble{
  .outils-liste{
    .custom-card{
      padding: 1rem;
      cursor: pointer;
      &:hover,
      &:focus{
        border-color: #143b86;
      }
      h2{
        font-weight: bold;
        color: #143b86;
      }
      p{
        color: #535353;
        font-style: italic;
      }
    }
  }
}
