<section class="formulaire-basique">
  <app-loader *ngIf="loading"></app-loader>
  <form *ngIf="!loading" [formGroup]="fraisForm" (ngSubmit)="creerFraisPourLogement()">
    <div class="header">
      <h1>Créer un frais</h1>
    </div>
    <div class="champs">
      <div class="champ">
        <label for="nom">Nom</label>
        <input
          type="text"
          id="nom"
          formControlName="nom">
      </div>
      <div class="champ">
        <label for="montant">Montant</label>
        <input
          type="number"
          id="montant"
          formControlName="montant"
          aria-required="true">
      </div>
      <div class="champ">
        <label for="dateDeDebut">{{ isPonctuelle ? 'Date de paiement' : 'Date de début' }}</label>
        <input
          type="date"
          id="dateDeDebut"
          formControlName="dateDeDebut"
          aria-required="true">
      </div>
      <div class="champ" *ngIf="!isPonctuelle">
        <label for="dateDeFin">Date de fin</label>
        <input
          type="date"
          id="dateDeFin"
          formControlName="dateDeFin">
      </div>
      <div class="champ">
        <label for="frequence">Fréquence</label>
        <select id="frequence" formControlName="frequence" aria-required="true">
          <option value="" disabled>Sélectionner une fréquence</option>
          <option *ngFor="let frequence of frequences" [value]="frequence">{{ frequence }}</option>
        </select>
      </div>
      <div class="champ">
        <label for="categorieFrais">Catégorie</label>
        <select id="categorieFrais" formControlName="categorieFrais" aria-required="true">
          <option value="" disabled>Sélectionner une catégorie</option>
          <option *ngFor="let categorie of categoriesFrais" [value]="categorie.key">{{ categorie.label }}</option>
        </select>
      </div>
      <div class="error">
        {{ error }}
      </div>
      <button type="submit" [disabled]="!fraisForm.valid">
        Ajouter le frais
      </button>
    </div>
    <app-fil-ariane
      [ongletRetour]="{
    url: ['/logements', logementMasqueId],
    queryParams: { tab: 3 },
    label: 'Synthèse logement'
  }"
      [ongletActuel]="'Créer un frais'">
    </app-fil-ariane>

  </form>
</section>
