<app-header></app-header>
<main>
    <section class="container-appartement-list-periode">
        <h2>Entrées / Sorties</h2>
        <table class="appartement-list-periode">
            <thead>
            <tr>
                <th>Entrée</th>
                <th>Sortie</th>
                <th>AirBnB</th>
                <th>Prix</th>
                <th>Frais</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let periode of periodLocationList">
                <td>{{ periode.estEntree | customDate  }}</td>
                <td>{{ periode.estSortie | customDate }}</td>
                <td>{{ periode.locVac ? 'Oui' : 'Non' }}</td>
                <td>{{ periode.prix}}€ {{ periode.locVac ? '/jour' : '/mois'}}</td>
                <td (click)="afficherFraisParPeriode(periode.id, periode.frais)" class="frais-view logo-container">
                  Afficher
                </td>
                <td  class="actions-container logo-container">
                    <img *ngIf="periode.id" (click)="afficherFormModificationPeriode(periode.id)" src="assets/img/modify-icon.svg" alt="to change icon"/>
                    <img *ngIf="periode.id" (click)="supprimerUnePeriodePourAppartement(periode.appartementId, periode.id)" src="assets/img/trash-icon.svg" alt="trash icon"/>
                </td>
            </tr>

            </tbody>
        </table>
    </section>
    <section class="container-appartement-periode-frais">

      <div *ngIf="fraisParPeriodeCreationIsVisible || fraisParPeriodeModifyIsVisible" class="actual-frais">
        <h2>Dépenses</h2>
        <table>
          <thead>
          <tr>
            <th>Type de Frais</th>
            <th>Montant</th>
            <th>Fréquence</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let frais of fraisParPeriode">
            <td>{{ frais.typeFrais.nom }}</td>
            <td>{{ frais.montant }}</td>
            <td>{{ frais.frequence }}</td>
            <td  class="actions-container logo-container">
              <img *ngIf="frais.id" (click)="afficherFormModificationFraisPourPeriode(frais.id)" src="assets/img/modify-icon.svg" alt="to change icon"/>
              <img *ngIf="frais.id" (click)="supprimerUnFraisPourPeriode(currentPeriodeId, frais.id)" src="assets/img/trash-icon.svg" alt="trash icon"/>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="fraisParPeriodeCreationIsVisible">
        <h2>
          Ajouter un frais
        </h2>
        <form (ngSubmit)="ajouterUnFraisPourPeriode()">
          <label for="new-montant">Montant:</label>
          <input type="number" id="new-montant" name="new-montant" [(ngModel)]="nouveauFrais.montant" required placeholder="Montant">

          <label for="new-typeFrais">Type de frais :</label>
          <select id="new-typeFrais" name="new-typeFrais" [(ngModel)]="nouveauFraisSelectedTypeFrais" required>
            <option disabled selected value="">Type de frais</option>
            <option *ngFor="let typeFrais of typesFrais" [value]="typeFrais.id">{{ typeFrais.nom }}</option>
          </select>

          <label for="new-frequence">Fréquence:</label>
          <select id="new-frequence" name="new-frequence" [(ngModel)]="nouveauFrais.frequence" required>
            <option disabled selected value="">Fréquence</option>
            <option value="MENSUELLE">Mensuelle</option>
            <option value="TRIMESTRIELLE">Trimestrielle</option>
            <option value="ANNUELLE">Annuelle</option>
            <option value="PONCTUELLE">Ponctuelle</option>
          </select>

          <button type="submit">Ajouter</button>
          <button (click)="cancelCreation()" type="button">Annuler</button>
        </form>
      </div>
    </section>
    <section class="container-appartement-periode-modify-frais">
        <div *ngIf="fraisParPeriodeModifyIsVisible" class="modify-frais">

            <h2>Modifier une dépense</h2>
            <form (ngSubmit)="mettreAJourUnFraisPourPeriode()">
                <label for="modifie-montant">Montant:</label>
                <input type="number" id="modifie-montant" name="modifie-montant" [(ngModel)]="modifieFrais.montant" required placeholder="Montant">

                <label for="modifie-typeFrais">Type de frais :</label>
                <select id="modifie-typeFrais" name="modifie-typeFrais" [(ngModel)]="modifieFraisSelectedTypeFrais" required>
                    <option selected disabled value="">Type de frais</option>
                    <option *ngFor="let typeFrais of typesFrais" [value]="typeFrais.id">{{ typeFrais.nom }}</option>
                </select>

                <label for="modifie-frequence">Fréquence:</label>
                <select id="modifie-frequence" name="modifie-frequence" [(ngModel)]="modifieFrais.frequence" required>
                    <option disabled selected value="">Fréquence</option>
                    <option value="MENSUELLE">Mensuelle</option>
                    <option value="TRIMESTRIELLE">Trimestrielle</option>
                    <option value="ANNUELLE">Annuelle</option>
                </select>
                <div class="modify-frais-container-button">
                    <button class="bg-danger" type="submit">Modifier</button>
                    <button (click)="inModification = false" type="button">Annuler</button>
                </div>

            </form>
        </div>
    </section>
    <section class="container-appartement-modify-periode">
        <div *ngIf="inModification" class="modify-periode">

            <h2>Modifier une période</h2>
            <form (ngSubmit)="mettreAJourUnePeriodePourAppartement()">
                <label class="visible" for="prix">Prix:</label>
                <input type="number" name="prix" id="prix" [(ngModel)]="modifiePeriode.prix">

                <label for="estEntree">Entrée:</label>
                <input type="date" name="estEntree" id="estEntree" [(ngModel)]="modifiePeriode.estEntree">

                <label for="estSortie">Sortie:</label>
                <input type="date" name="estSortie" id="estSortie" [(ngModel)]="modifiePeriode.estSortie">
                <div class="container-checkbox">
                    <label class="visible" for="locVac">Location vacances :</label>
                    <input type="checkbox" name="locVac" id="locVac" [(ngModel)]="modifiePeriode.locVac">
                </div>

                <button type="submit">Mettre à jour</button>
                <button type="button" (click)="cancelModification()">Annuler</button>

            </form>
        </div>
    </section>
    <section class="container-appartement-new-periode">
        <div *ngIf="!inModification && inCreation" class="new-periode">

            <h2>Ajouter une période</h2>
            <form (ngSubmit)="ajouterUnePeriodePourAppartement()">
                <label class="visible"for="prix">Prix:</label>
                <input type="number" name="prix" id="prix" [(ngModel)]="newPeriode.prix">

                <label for="estEntree">Entrée:</label>
                <input type="date" name="estEntree" id="estEntree" [(ngModel)]="newPeriode.estEntree">

                <label for="estSortie">Sortie:</label>
                <input type="date" name="estSortie" id="estSortie" [(ngModel)]="newPeriode.estSortie">
                <div class="container-checkbox">
                    <label class="visible" for="locVac">Location vacances :</label>
                    <input type="checkbox" name="locVac" id="locVac" [(ngModel)]="newPeriode.locVac">
                </div>

                <button type="submit">Ajouter</button>
            </form>
        </div>
    </section>
</main>
<app-footer></app-footer>
