<section class="connexion">
  <form [formGroup]="loginForm" (ngSubmit)="connexion()">
    <div class="header">
<!--
      <img src="/assets/img/v2/logo.png" alt="logo">
-->
      <h1>Se connecter à Optimmo</h1>
    </div>
    <div class="champs">
      <div class="champ">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          aria-required="true">
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.dirty" class="error">
          <span *ngIf="loginForm.get('email')?.errors?.['required']">L'adresse e-mail est obligatoire.</span>
          <span *ngIf="loginForm.get('email')?.errors?.['email']">Veuillez entrer une adresse e-mail valide.</span>
        </div>
      </div>
      <div class="champ">
        <label for="mdp">Mot de passe</label>
        <input
          type="password"
          id="mdp"
          formControlName="mdp"
          aria-required="true">
        <div *ngIf="loginForm.get('mdp')?.invalid && (loginForm.get('mdp')?.dirty)" class="error">
          <span *ngIf="loginForm.get('mdp')?.errors?.['required']">Le mot de passe est obligatoire.</span>
          <span *ngIf="loginForm.get('mdp')?.errors?.['minlength']">Le mot de passe doit contenir au moins 8 caractères.</span>
          <span *ngIf="loginForm.get('mdp')?.errors?.['pattern']">Le mot de passe doit contenir au moins un chiffre et un caractère spécial.</span>
        </div>

      </div>
      <div class="error">
        {{ error }}
      </div>
      <button type="submit" [disabled]="!loginForm.valid">
        Se connecter
      </button><br>
      <a class="mode-connexion" href="/inscription">Pas de compte ? Inscrivez-vous</a>
    </div>
  </form>
</section>


