<div *ngFor="let mouvement of revenusFormArray.controls; let i = index">
  <!-- Sélecteur pour les types de revenus -->
  <h3>{{ mouvement.get('nom').value }}</h3>
  <label for="typeRevenu-{{i}}">Type de revenu:</label>
  <select id="typeRevenu-{{i}}">
    <option value="locatifsMeubles">Locatifs Meublés</option>
    <option value="locatifsNonMeubles">Locatifs Non Meublés</option>
    <option value="partsScpi">Parts SCPI</option>
    <option value="salarial">Salaire</option>
  </select>

  <!-- Sélecteur pour les types de régime fiscal -->
  <label for="regimeFiscal-{{i}}">Régime fiscal:</label>
  <select id="regimeFiscal-{{i}}">
    <option [value]="key" *ngFor="let key of objectKeys(regimesFiscaux)">{{ regimesFiscaux[key].description }}</option>
  </select>

  <!-- Champ de saisie pour la somme réelle -->
  <div *ngIf="mouvement.get('regimeFiscal')?.value === 'reel'">
    <label for="sommeReelle-{{i}}">Somme Réelle:</label>
    <input id="sommeReelle-{{i}}" type="number">
  </div>
</div>
