
.placements{
  min-height: 90vh;
  margin-bottom: 7rem;
  .contenu-placements{
    .container{
      .placements-title{
        margin-bottom: 2rem;

      }
      ul{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .custom-card{
          padding: 1rem;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover,
          &:focus{
            border-color: #143b86;
          }
          .custom-card-info{
            h2{
              font-weight: bold;
              color: #143b86;
            }
            p{
              color: #535353;
            }
          }
          img{
            width: 5rem;
          }

        }
      }
      .total-placements{
        margin: 2rem 0 !important;
        span{
          color: #143b86;
          font-weight: bold;
        }
      }
      .btn-ajouter-placement{
        width: 100%;
        padding:
          1rem;
        border:
          1px solid #1c5eeb;
        background-color: #1c5eeb;
        color: white;
        border-radius:
          0.5rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
        font-weight: bold;
      }
    }
  }


}
