.btn-ajouter-placement{
  width: 100%;
  padding:
    1rem;
  border:
    1px solid #1c5eeb;
  background-color: #1c5eeb;
  color: white;
  border-radius:
    0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
  font-weight: bold;
}
