.champ{
  .test{
    position: relative;
    .nom-fichier-container{
      position: absolute;
      background-color: #f7f7f8;
      top: 2px;
      left: 2px;
      border-radius: 5px;
      width: 95%;
      height: 89%;
      padding: .5rem;
      pointer-events: none;
      /*background-color: #f7f7f8;
      margin-top: .2rem;;
      position: absolute;
      left: 8.2rem;
      top: 0;
      display: flex;
      align-items: center;
      height: 80%;
      width: 15rem;*/
      button{
        width: max-content;
        font-weight: lighter;
        margin-top: 0;
        background-color: #f7f7f8;
        height: 100%;
        padding: .1rem 0.3rem;
        color: black;
        border: 1px solid grey;
        pointer-events: none;

      }
      .file-name{
        color: black;
        pointer-events: none;

      }
    }

  }
  .btn-supprimer-fichier-dpe{
    background: none;
    width: max-content;
    margin: 0;
    padding: .5rem 0;
    text-decoration: underline;
    color: red;
    font-weight: initial;
  }
}
