.caracteristiques-modifier{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f7f7f8;

  .header{
    display: flex;
    align-items: end;
    width: max-content;
    max-width: 100%;
    margin: 2rem auto;
    gap: 1rem;
    h1{
      margin-bottom: .1rem;;
      font-size: 2.2rem;
      font-weight: bold;
      color: #143b86;
    }
    img{
      max-width: 4rem;
    }
  }
  form{

    background-color: white;
    margin-top: 0;
    padding: 2rem;
    max-width: 100%;
    .champs{
      display: flex;
      flex-direction: column;

      .champ{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
        label{
          font-weight: bold;
        }
        input, select{
          width: 44rem;
          max-width: 100%;
          border-radius: .5rem;
          border: 1px solid #989797;
          padding: .4rem;
        }
        select{
          padding: .8rem;
          background-color: white;
        }
        div{
          color: red;
          font-size: 1.2rem;
          margin-top: .5rem;
        }
      }
      .checkbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input[type="checkbox"]{
          width: 1.5rem;
        }
      }
    }
    button{
      margin: 1rem auto 0;
      width: 44rem;
      max-width: 100%;
      border-radius: .5rem;
      border: none;
      font-size: 1.3rem;
      padding: 1rem;
      font-weight: bold;
      background-color: #143b86;
      color: white;
    }
    button[disabled]{
      background-color: gainsboro;
      color: darkgray;
    }
    .mode-connexion{
      margin: auto;
      text-decoration: none;
      font-weight: bold;
    }
    .fil-ariane{
      color: #143b86;
      display: flex;
      max-width: 120rem;
      margin: auto;
      a{
        padding: 1rem 1rem 1rem 0;
        display: block;
      }
      .arrow-next{
        color: grey;
        font-weight: bold;
        padding-right: 1rem;
      }
      .onglet-actuel{
        text-decoration: underline;
      }
    }
    .btn-supprimer-caracteristiques{
      width: 100%;
      padding: 1rem;
      border: 1px solid red;
      background-color: red;;
      color: white;
      border-radius: .5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}
