<section class="appartement-frais-add">
    <div class="container">
        <form [formGroup]="fraisForm" (ngSubmit)="ajouterUnFraisFixe()" aria-labelledby="formTitleFrais">

            <h2 id="formTitleFrais">Ajouter un frais pour {{ periode ? "la période" : "l'appartement"}}</h2>
            <div>
              <label for="new-nom">Nom</label>
              <input type="text" id="new-nom" formControlName="nom" placeholder="Nom (optionnel)">
            </div>
            <div>
                <label for="new-montant">Montant <span aria-hidden="true">*</span></label>
                <input type="number" id="new-montant" formControlName="montant" aria-required="true" placeholder="Montant">
            </div>

            <div>
                <label for="new-typeFrais">Type de frais <span aria-hidden="true">*</span></label>
                <select id="new-typeFrais" formControlName="typeFrais" required>
                    <option disabled selected value="">Type de frais</option>
                    <option *ngFor="let typeFrais of typesFrais" [value]="typeFrais.id">{{ typeFrais.nom }}</option>
                </select>
            </div>

            <div>
                <label for="new-frequence">Fréquence <span aria-hidden="true">*</span></label>
                <select id="new-frequence" formControlName="frequence" required (change)="onFrequenceChange($event)">
                    <option disabled selected value="">Fréquence</option>
                    <option value="MENSUELLE">Mensuelle</option>
                    <option value="TRIMESTRIELLE">Trimestrielle</option>
                    <option value="ANNUELLE">Annuelle</option>
                    <option value="PONCTUELLE">Ponctuelle</option>
                </select>
            </div>
            <div *ngIf="isPonctuelle">
              <label for="datePaiement">Date de paiement</label>
              <input type="date" id="datePaiement" formControlName="datePaiement" >
            </div>
            <button class="{{fraisForm.valid ? '' : 'disabled'}}" type="submit" [disabled]="!fraisForm.valid">Ajouter</button>
            <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
        </form>
    </div>
</section>
