<section class="appartement-gestionnaire-add">
  <div class="container">
    <form [formGroup]="appGestionnaireForm" (ngSubmit)="ajouterGestionnaireAppartement()" aria-labelledby="formTitle">

      <h2 id="formTitle">Créer un compte gestionnaire</h2>

      <div>
        <label for="username">Nom d'utilisateur <span aria-hidden="true">*</span></label>
        <input type="text" id="username" formControlName="username" aria-required="true" class="form-control">
      </div>

      <div>
        <label for="password">Mot de passe <span aria-hidden="true">*</span></label>
        <input type="password" id="password" formControlName="password" aria-required="true" class="form-control">
      </div>

      <div>
        <label for="token">Code d'invitation <span aria-hidden="true">*</span></label>
        <input type="text" id="token" formControlName="token" aria-required="true" class="form-control">
      </div>

      <button type="submit" class="{{appGestionnaireForm.valid ? '' : 'disabled'}}" [disabled]="!appGestionnaireForm.valid">Créer le compte</button>
      <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
    </form>
  </div>
</section>
