<section class="logement">
  <app-header [h1]="'Synthèse logement'"></app-header>
  <div class="contenu-logement {{loading ? 'on-load' : ''}}">
    <app-loader *ngIf="loading"></app-loader>
    <div class="container-fil-ariane">
      <app-fil-ariane
        *ngIf="logement"
        [ongletRetour]="{url: '/logements', label:'Vue d\'ensemble'}"
        [ongletActuel]="'Synthèse logement'"></app-fil-ariane>
    </div>
    <app-photo-caroussel
      *ngIf="logement"
      [onItem]="true"
      [photos]="logement.photos"
      [logementId]="logement.masqueId"></app-photo-caroussel>
    <div class="container" *ngIf="logement">
      <div class="logement-infos" *ngIf="logement.adresse && logement.caracteristiques">
        <h2>{{logement.caracteristiques.typeDeLogement | titlecase}} {{logement.adresse.numero}} {{logement.adresse.voie}}</h2>
        <div class="container-prix-temps">
          <p class="prix-loyer-actuelle">{{getTarifActuel(logement.periodesDeLocation)}}</p>
          <span
            *ngIf="getTexteDureeSejour(logement) as texte"
            class="temps-location"
          >
            {{ texte }}
          </span>
        </div>

        <div class="details-logement">
          <div>{{logement.caracteristiques.nombreDePieces}} pièces</div>
          <div>{{logement.caracteristiques.surfaceLogement }} m²</div>
          <div>{{logement.caracteristiques.meubleeOuNon ? 'Meublé' : 'Non meublé'}}</div>
          <div *ngIf="logement.caracteristiques.parkingOuNon">Parking</div>
          <div *ngIf="logement.caracteristiques.balconOuTerrasse">{{getBalconOuTerrasse(logement.caracteristiques)}}</div>
        </div>
        <img class="dpe-logement" *ngIf="logement.caracteristiques.dpeLettre !== null" src="./assets/img/v2/energie-{{logement.caracteristiques.dpeLettre.toLowerCase()}}-icon.png" alt="Icône de la classe énergie">
        <app-alerte-element [alertes]="logement.alertes" [ouvrable]="true"></app-alerte-element>
      </div>
      <nav class="nav-logement">
        <ul>
          <li
            *ngFor="let item of menuItems; let i = index"
            (click)="setActive(i)"
            [ngClass]="{'active': activeIndex === i}"
          >
            {{ item }}
          </li>
        </ul>
      </nav>
      <div class="data-logement">
        <app-statistiques
          *ngIf="activeIndex === 0"
          [logement]="logement"
        ></app-statistiques>
        <app-adresse-element
          *ngIf="activeIndex === 1"
          [logementMasqueId]="logement.masqueId"
          [adresse]="logement.adresse">
        </app-adresse-element>
        <app-caracteristiques-element
          *ngIf="activeIndex === 2"
          [adresse]="logement.adresse"
          [logementMasqueId]="logement.masqueId"
          [caracteristiques]="logement.caracteristiques">
        </app-caracteristiques-element>
        <app-frais-table
          *ngIf="activeIndex === 3"
          [logementMasqueId]="logement.masqueId"
          [frais]="logement.frais">
        </app-frais-table>
        <div *ngIf="activeIndex === 4">
          <app-periode-location-table
            [logementMasqueId]="logement.masqueId"
            [periodesDeLocation]="logement.periodesDeLocation"
            [periodeActuelle]="periodeActuelle"
            (periodeSelectionnee)="onPeriodeSelectionnee($event)">
          </app-periode-location-table>
          <nav class="nav-logement periode-de-location">
            <ul>
              <li
                *ngFor="let item of menuPeriodesDeLocation"
                [ngClass]="{'active': activeIndexPeriodeDeLocation === 0}"
              >
                {{ item }}
              </li>
            </ul>
          </nav>
          <app-frais-table
            *ngIf="periodeActuelle !== null"
            [logementMasqueId]="logement.masqueId"
            [periodeMasqueId]="periodeActuelle.masqueId"
            [frais]="periodeActuelle.frais">
          </app-frais-table>
        </div>
        <app-locataire-table
          *ngIf="activeIndex === 5"
          [logementMasqueId]="logement.masqueId"
          [locataires]="getLocataires()">
        </app-locataire-table>
        <app-contact-table
          *ngIf="activeIndex === 6"
          [logementMasqueId]="logement.masqueId"
          [contacts]="logement.contacts">
        </app-contact-table>
        <app-alerte-table
          *ngIf="activeIndex === 7"
          [logementMasqueId]="logement.masqueId"
          [alertes]="logement.alertes">
        </app-alerte-table>
        <app-document-table
          *ngIf="activeIndex === 8"
          [logementMasqueId]="logement.masqueId"
          [documents]="logement.documents">
        </app-document-table>
        <button *ngIf="activeIndex === 9" class="btn-supprimer-logement" (click)="openModal()">Supprimer le logement</button>
      </div>

    </div>
  </div>
</section>
<app-modale-confirmation
  *ngIf="isModalVisible"
  [message]=msgConfirmationSuppression
  (confirm)="confirmDelete()"
  (cancel)="closeModal()"
></app-modale-confirmation>
