.contenu-logement {
  background-color: #f7f7f8;
  min-height: 90vh;
  .container-fil-ariane{
    padding-left: 1rem;
  }
  &.on-load {
    display: flex;
    justify-content: center;
  }
  .container{
    h2{
      font-weight: bold;
      color: #143b86;
      font-size: 1.9rem;
      padding: 0;
    }
    .nom-type{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .nom-type.is-present{
      margin-bottom: 1.5rem;
    }
    .badge-residence-principale{
      display: flex;
      align-content: center;
      border: 2px solid #143b86;
      padding: .5rem 1rem;
      border-radius: 20px;
      gap: .4rem;
      color: #143b86;
      width: max-content;

      span {
        font-size: 1.2rem;
        font-weight: bold;
      }
      img{
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .container-prix-temps{
      display: block;
      gap: .5rem;
      margin: 1.5rem 0 !important;
      .prix-loyer-actuelle{
        color: #0eb7fc;
        font-weight: bold;
        font-size: 1.9rem;

      }
      span{
        color: #7d7d7d;
        font-weight: bold;
      }
    }
    .details-logement{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 2rem;
      div{
        background-color: #1c5eeb;
        color: white;
        font-weight: 500;
        padding: .15rem 1rem;
        border-radius: 1.5rem;
      }
    }
    .dpe-logement{
      width: 11rem;
      margin-bottom: 1.5rem;
    }
    .nav-logement{
      margin-top: 1rem;
      ul {
        display: flex;
        gap: 1rem;
        overflow: scroll;
        padding: 0 0 1.5rem;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 1.5rem;
      }
      li {
        white-space: nowrap;
        font-weight: bold;
        color: #143b86;
        padding-bottom: 1rem;
        border-bottom: .5rem solid transparent;
      }
      li.active {
        border-bottom: .5rem solid #1c5eeb;
      }
      li:last-child {
        color: red;
      }
      li.active:last-child {
        border-bottom: .5rem solid red;
      }
    }
    .nav-logement.periode-de-location{
      margin-top: 2rem;
      li {
        white-space: nowrap;
        font-weight: bold;
        color: #143b86;
        padding-bottom: 1rem;
        border-bottom: .5rem solid transparent;
      }
      li.active {
        border-bottom: .5rem solid #1c5eeb;
      }
    }
    .btn-supprimer-logement{
      width: 100%;
      padding: 1rem;
      border: 1px solid red;
      background-color: red;;
      color: white;
      border-radius: .5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
      font-weight: bold;
    }
  }
}
