.contenu-logement {
  background-color: #f7f7f8;
  min-height: 90vh;
  .fil-ariane{
    color: #143b86;
    display: flex;
    max-width: 120rem;
    margin: auto;
    padding: 0 1rem;
    a{
      padding: 1.5rem;
      display: block;
    }
    .arrow-next{
      color: grey;
      font-weight: bold;
      padding-right: 1rem;
    }
    .onglet-actuel{
      text-decoration: underline;
    }
  }
  &.on-load {
    display: flex;
    justify-content: center;
  }
  .container{
    h2{
      font-weight: bold;
      color: #143b86;
      font-size: 1.9rem;
      padding: 0;
    }

    .prix-loyer-actuelle{
      color: #0eb7fc;
      font-weight: bold;
      font-size: 1.9rem;
      margin: 1.5rem 0 !important;
    }
    .details-logement{
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 2rem;
      div{
        background-color: #1c5eeb;
        color: white;
        font-weight: 500;
        padding: .15rem 1rem;
        border-radius: 1.5rem;
      }
    }
    .dpe-logement{
      width: 11rem;
      margin-bottom: 2.5rem;
    }
    .nav-logement{
      ul {
        display: flex;
        gap: 1rem;
        overflow: scroll;
        padding: 0 0 1.5rem;
        border-bottom: 1px solid #d0d0d0;
        margin-bottom: 1.5rem;
      }
      li {
        white-space: nowrap;
        font-weight: bold;
        color: #143b86;
        padding-bottom: 1rem;
        border-bottom: .5rem solid transparent;
      }
      li.active {
        border-bottom: .5rem solid #1c5eeb;
      }
      li:last-child {
        color: red;
      }
      li.active:last-child {
        border-bottom: .5rem solid red;
      }
    }
    .btn-supprimer-logement{
      width: 100%;
      padding: 1rem;
      border: 1px solid red;
      background-color: red;;
      color: white;
      border-radius: .5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
      font-weight: bold;
    }
  }
}
