<section class="logement">
  <app-header [h1]="'Synthèse logement'"></app-header>
  <div class="contenu-logement {{loading ? 'on-load' : ''}}">
    <app-loader *ngIf="loading"></app-loader>
    <div class="fil-ariane" *ngIf="logement">
      <a href="/logements">Vue d'ensemble</a>
      <span class="arrow-next">></span>
      <span class="onglet-actuel">Synthèse logement</span>
    </div>
    <app-photo-caroussel [onItem]="true" *ngIf="logement" [photos]="logement.photos"></app-photo-caroussel>
    <div class="container" *ngIf="logement">
      <h2>{{logement.caracteristiques.typeDeLogement | titlecase}} {{logement.adresse.numero}} {{logement.adresse.voie}}</h2>
      <!--
            <p class="ville-pays">{{logement.adresse.ville | uppercase}} - {{logement.adresse.pays}}</p>
      -->

      <p class="prix-loyer-actuelle">{{getTarifActuel()}}</p>
      <div class="details-logement">
        <div>{{logement.caracteristiques.nombreDePieces}} pièces</div>
        <div>{{logement.caracteristiques.surfaceLogement }} m²</div>
        <div>{{logement.caracteristiques.meubleeOuNon ? 'Meublé' : 'Non meublé'}}</div>
        <div *ngIf="logement.caracteristiques.balconOuTerrasse">{{getBalconOuTerrasse(logement.caracteristiques)}}</div>
      </div>
      <img class="dpe-logement" *ngIf="logement.caracteristiques.dpeLettre !== null" src="./assets/img/v2/energie-{{logement.caracteristiques.dpeLettre.toLowerCase()}}-icon.png" alt="Icône de la classe énergie">
      <nav class="nav-logement">
        <ul>
          <li
            *ngFor="let item of menuItems; let i = index"
            (click)="setActive(i)"
            [ngClass]="{'active': activeIndex === i}"
          >
            {{ item }}
          </li>
        </ul>
      </nav>
      <app-adresse-element *ngIf="activeIndex === 0" [adresse]="logement.adresse"></app-adresse-element>
      <app-caracteristiques-element *ngIf="activeIndex === 1" [caracteristiques]="logement.caracteristiques"></app-caracteristiques-element>
      <app-frais-table *ngIf="activeIndex === 2" [frais]="logement.frais"></app-frais-table>
      <app-periode-location-table *ngIf="activeIndex === 3" [periodesDeLocation]="logement.periodesDeLocation"></app-periode-location-table>
      <app-contact-table *ngIf="activeIndex === 4" [contacts]="logement.contacts"></app-contact-table>
      <!--<div class="logements-title" *ngIf="!loading">
        <p>Retrouvez ici toutes les informations de votre logment.
          C'est ici que vous pouvez voir, modifier et supprimer les photos, les frais, les périodes de locations et les contacts de votre logement.</p>
      </div>-->
    </div>
  </div>
</section>
