<section class="appartement-gestionnaire-list">
  <div class="container">
    <div class="custom-card">
      <div class="custom-card-header">
        <h2>Gestionnaires</h2>
        <a *ngIf="!isEditable && isProprietaire()" [routerLink]="['/appartement/' +  appartementId + '/gestionnaires']">Modifier</a>
      </div>
      <table>
        <thead>
        <tr>
          <th>Pseudo</th>
          <th>Email</th>
          <td>Téléphone</td>
          <td *ngIf="isEditable">Actions</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let contact of gestionnaires">
          <td>{{ contact.username }}</td>
          <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
          <td><a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a></td>
          <td *ngIf="isEditable"  class="actions-container">
            <img src="../../../../assets/img/modify-icon.svg" alt="to change icon" (click)="onUpdateGestionnaire(contact)"/>
            <img src="../../../../assets/img/trash-icon.svg" alt="trash icon" (click)="onDeleteGestionnaire(contact.id)"/>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
