<section class="appartement-list">
  <div class="container">
    <div class="custom-card">
      <div class="custom-card-header">
        <h2>Biens immobiliers</h2>
      </div>
      <ul >
        <li  *ngFor="let appartement of appartementListOverview" class="appartement-item">
          <div  *ngIf="appartement.id !== undefined" (click)="viewAppartement(appartement.id)" class="appartement-info">
            <div class="adresse">
              <div>
                <h3>{{ appartement.numero }} {{ appartement.adresse }}</h3>
                <p>{{ appartement.codePostal }} {{ appartement.ville }}</p>
              </div>
              <img src="./assets/img/view-more-icon.svg" alt="">
            </div>
          </div>
          <div class="appartement-actions">
            <!-- Ajoutez ici les actions pour chaque appartement, par exemple, boutons de détails ou de modification -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

