
.appartement-list {
  font-size: 1rem;
  margin-bottom: 1rem;
  .container {
    .onload{
      display: flex;
      justify-content: center;
    }
    .custom-card {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border: 1px solid #ccc;
      min-height: 9rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      position: relative;

      .filtres-list.onload{
        display: flex;
        justify-content: center;
      }

      .loader{
         width: auto;
         height: 7rem;
        padding: 1.5rem;
       }

      .custom-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 1.1rem;
        }
      }

      .appartement-item {
        .metriques-dynamique{
          margin-top: .5rem;
          font-size: .8rem;
        }
        h3 {
          font-size: 1rem;

          color: black;
          padding-bottom: 0.3rem;
          font-weight: 300;
          &.selected {

          }
        }
        box-shadow: rgba(0, 0, 0, 0) 0 1px 1px;
        background-color: white;
        padding: 1rem;
        display: flex;
        align-items: center;
        border: 1px solid #e7e7e7;
        border-radius: 10px;
        margin-bottom: 10px;

        .appartement-info {

          flex: 1;

          .adresse {
            img{
              width: 3rem;
            }
            div {
              p:last-child {
                color: #C5C5C5;
              }
            }

            display: flex;
            align-items: baseline;
            justify-content: space-between;
          }
        }
      }
      .appartement-item.selection-active.selected{
        cursor: pointer;
        border: 2px solid #143b86 !important;
      }

      .filtres-list{
        .filtres-btns{
          display: flex;
          flex-wrap: wrap;
          gap: .3rem;
          margin-top: 1rem;

        }
        .filtres{
          width: 100%;
          &.selected{
            background-color: #143b86;
            color: white;
          }
        }
        button{
          font-size:.9rem;
          height: max-content;
          padding: .2rem .4rem;
          border-radius: 5px;
          background: white;
          border-color: #143b86;
          color: #143b86;
          &.selected{
            background-color: #143b86;
            color: white;
          }
        }
      }
    }

    .metriques{
      margin-bottom: 1rem;
      .metriques-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          margin-bottom: 0;
        }
        button{
          height: max-content;
          padding: .3rem .6rem;
          border-radius: 5px;
          background: white;
          border-color: #143b86;
          color: #143b86;
        }
      }
    }
  }
}
@media screen and (min-width: 55rem) {
  .appartement-list{
    .container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .metriques{
        height: 100%;
      }
    }
  }
}
