
.appartement-list {
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  .container {
    .onload{
      display: flex;
      justify-content: center;
      flex-direction: row !important;
    }
    .custom-card {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      border: 1px solid #ccc;
      min-height: 9rem;
      border-radius: 4px;
      margin-bottom: 1rem;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: end;
      .filtres-list.onload{
        display: flex;
        justify-content: center;
        margin-bottom: 0;
      }

      .filtres-list {
        width: 100%;
        margin-left: .5rem;
        .filtres-checkboxes {
          margin-left: .5rem;
          margin-top: 1rem;
          display: flex;
          flex-direction: column;
        }
      }
      .appartement-list-header{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        h2{
          margin-bottom: 0;
          margin-left: .5rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: #143b86;
        }
        .filtres-btn{
          display: flex;
          gap: .5rem;
          padding: .3rem;
          border-radius: 0.3rem;
          background: none;
          border: 1px solid;
          color: #143b86;
          &.selected{
            color: #d40000ff;
          }
          img{
            width: 1rem;
          }
        }
      }

      .loader{
         width: auto;
         height: 7rem;
        padding: 1.5rem;
       }

      .custom-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 1.1rem;
        }
      }
      .appartement-list-items{
        width: 100%;
        margin-bottom: 0;
        .appartement-item {
          .metriques-dynamique{
            margin-top: .5rem;
            font-size: .8rem;
          }
          h3 {
            font-size: 1rem;

            color: black;
            padding-bottom: 0.3rem;
            font-weight: 300;
            &.selected {

            }
          }
          box-shadow: rgba(0, 0, 0, 0) 0 1px 1px;
          background-color: white;
          padding: 1rem;
          display: flex;
          align-items: center;
          border: 1px solid #e7e7e7;
          border-radius: 10px;
          margin-bottom: 10px;

          .appartement-info {

            flex: 1;

            .adresse {
              img{
                width: 3rem;
              }
              div {
                p:last-child {
                  color: #C5C5C5;
                }
              }

              display: flex;
              align-items: baseline;
              justify-content: space-between;
            }
          }
        }
        .appartement-item.selection-active.selected{
          cursor: pointer;
          border: 2px solid #143b86 !important;
        }
      }

    }

    .metriques{
      margin-bottom: 1rem;
      .metriques-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        h2 {
          margin-bottom: 0;
          margin-left: 0.5rem;
          font-size: 1.5rem;
          font-weight: bold;
          color: #143b86;
        }
        .cc-btn{
          display: flex;
          gap: .5rem;
          padding: .3rem;
          border-radius: 0.3rem;
          background: none;
          border: 1px solid;
          color: #143b86;
          &.selected{
            color: #d40000ff;
          }
          img{
            width: 1rem;
          }
        }
      }
      .metriques-container{
        width: 100%;

        .metriques-global-list{
          width: 100%;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 1rem;
          li{
            display: flex;
            flex-direction: column-reverse;
            padding: .5rem;
            border-radius: .2rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border: 1px solid #ccc;

            .chiffre{
              font-size: 6vw;
              color: black;
            }
            span{
              font-size: 2.8vw;
              font-style: italic;
              color: gray;
            }
          }
        }
      }

    }
  }
}
@media screen and (min-width: 55rem) {
  .appartement-list{
    .container{
      padding-top: 2rem;
      .custom-card{
        min-height: 100%;
      }
      .appartement-list-header{
        margin-top: 0;
        margin-bottom: 0;
      }
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
      .metriques{
        height: 100%;

        .metriques-container{

          .metriques-global-list{
            grid-template-columns: repeat(1, 1fr);
            li{
              .chiffre{
                font-size: 2rem;
                color: black;
              }
              span{
                font-size: 1.5rem;
                font-style: italic;
                color: gray;
              }
            }
          }
        }
      }
    }
  }
}
