<section class="appartement-desc-element">
    <div class="container">
        <div class="custom-card">
            <div class="custom-card-header">
              <h2>Description</h2>
              <img *ngIf="hasProprietaireRole()" (click)="onModifyClick()" src="../../../../../../assets/img/v2/edit-icon.svg" alt="icone de modification"
                   >
            </div>
            <dl class="appartement-details">
              <div *ngIf="appartement">
                <div *ngIf="hasProprietaireRole()" class="detail-item">
                  <dt><img src="./assets/img/calendar.svg" alt="Icône calendrier" ></dt>
                  <dd>
                    <strong>Date d'achat:</strong>
                    <p>{{appartement.dateAchat | customDate}}</p>
                  </dd>
                </div>
                <div class="detail-item">
                  <dt><img src="../../../../../../assets/img/v2/adresse-icon.jpg" alt="Icône d'adresse" ></dt>
                  <dd>
                    <strong>Adresse:</strong>
                    <p>{{appartement.numero}} {{ appartement.adresse }}, {{ appartement.codePostal }} {{ appartement.ville }}, {{appartement.pays.name}}</p>
                  </dd>
                </div>
                <div class="detail-item">
                  <dt><img src="./assets/img/nb-pieces-icon.png" alt="Icône de pièces" ></dt>
                  <dd>
                    <strong>Nombre de pièces:</strong>
                    <p>{{ appartement.nombrePieces }}</p>
                  </dd>
                </div>
                <div class="detail-item">
                  <dt><img src="./assets/img/surface-icon.png" alt="Icône de surface" ></dt>
                  <dd>
                    <strong>Surface:</strong>
                    <p>{{ appartement.surface }} m²</p>
                  </dd>
                </div>
                <div class="detail-item">
                  <dt><img src="./assets/img/balcon-icon.png" alt="Icône de balcon" ></dt>
                  <dd>
                    <strong>Balcon:</strong>
                    <p>{{ appartement.balcon ? 'Oui' : 'Non' }}</p>
                  </dd>
                </div>
                <div *ngIf="hasProprietaireRole()" class="detail-item">
                  <dt><img src="./assets/img/euro-icon.svg" alt="Icône de prix" ></dt>
                  <dd>
                    <strong>Prix d'achat HT:</strong>
                    <p>{{ appartement.prix | number:'1.0-2':'fr-FR' }} €</p>
                  </dd>
                </div>
                <div *ngIf="hasProprietaireRole()" class="detail-item">
                  <dt><img src="../../../../../../assets/img/v2/notary-icon.svg" alt="Icône de prix" ></dt>
                  <dd>
                    <strong>Frais d'acquisition:</strong>
                    <p>{{ appartement.fraisNotaireEtNegociation | number:'1.0-2':'fr-FR' }} €</p>
                  </dd>
                </div>
                <div *ngIf="hasProprietaireRole()" class="detail-item">
                  <dt><img src="../../../../../../assets/img/v2/estimate-icon.svg" alt="Icône d'estimation" ></dt>
                  <dd>
                    <strong>Estimation net vendeur:</strong>
                    <p>{{ appartement.estimation === null || appartement.estimation === 0 ? "A réaliser" : (appartement.estimation  | number:'1.0-2':'fr-FR') + " €" }}</p>
                  </dd>
                </div>
                <div *ngIf="hasProprietaireRole()" class="detail-item energie">
                  <dt><img src="./assets/img/energie-icon.png" alt="Icône de la classe énergie" height="40"
                           width="40"></dt>
                  <dd>
                    <strong>Classe énergie:</strong>
                    <img *ngIf="appartement.dpe !== 'Non renseigné'"
                         src="./assets/img/energie-{{appartement.dpe.toLowerCase()}}-icon.png" alt="Icône de la classe énergie C"
                         >
                    <p *ngIf="appartement.dpe === 'Non renseigné'">Non renseigné</p>
                  </dd>
                </div>
                <div *ngIf="appartement.lastDPEUrl">
                  <a [href]="appartement.lastDPEUrl" download target="_blank">Télécharger le fichier DPE</a>
                </div>
              </div>
            </dl>
        </div>
    </div>
</section>
