<section class="appartement-desc-element">
    <div class="container">
        <div class="custom-card">
            <div class="custom-card-header">
              <h2>Description</h2>
              <img *ngIf="isProprietaire()" (click)="onModifyClick()" src="./assets/img/edit-icon.svg" alt="icone de modification">
                <!--<a *ngIf="isProprietaire()" (click)="onModifyClick()">Modifier</a>-->
            </div>
            <dl class="appartement-details">
                <div class="detail-item">
                    <dt><img src="./assets/img/adresse-icon.png" alt="Icône d'adresse"></dt>
                    <dd>
                        <strong>Adresse:</strong>
                        <p>{{appartement.numero}} {{ appartement.adresse }}, {{ appartement.codePostal }} {{ appartement.ville }}, {{appartement.pays.name}}</p>
                    </dd>
                </div>
                <div class="detail-item">
                    <dt><img src="./assets/img/nb-pieces-icon.png" alt="Icône de pièces"></dt>
                    <dd>
                        <strong>Nombre de pièces:</strong>
                        <p>{{ appartement.nombrePieces }}</p>
                    </dd>
                </div>
                <div class="detail-item">
                    <dt><img src="./assets/img/surface-icon.png" alt="Icône de surface"></dt>
                    <dd>
                        <strong>Surface:</strong>
                        <p>{{ appartement.surface }} m²</p>
                    </dd>
                </div>
                <div class="detail-item">
                    <dt><img src="./assets/img/balcon-icon.png" alt="Icône de balcon"></dt>
                    <dd>
                        <strong>Balcon:</strong>
                        <p>{{ appartement.balcon ? 'Oui' : 'Non' }}</p>
                    </dd>
                </div>
                <div *ngIf="isProprietaire()" class="detail-item">
                    <dt><img src="./assets/img/euro-icon.svg" alt="Icône de prix"></dt>
                    <dd>
                        <strong>Prix d'achat:</strong>
                        <p>{{ appartement.prix }} €</p>
                    </dd>
                </div>
                <div *ngIf="isProprietaire()" class="detail-item energie">
                  <dt><img src="./assets/img/energie-icon.png" alt="Icône de la classe énergie"></dt>
                  <dd>
                    <strong>Classe énergie:</strong>
                    <img *ngIf="appartement.dpe !== 'Non renseigné'" src="./assets/img/energie-{{appartement.dpe.toLowerCase()}}-icon.png" alt="Icône de la classe énergie C">
                    <p *ngIf="appartement.dpe === 'Non renseigné'">Non renseigné</p>
                  </dd>
                </div>
            </dl>
        </div>
    </div>
</section>
