/* Importing Bootstrap SCSS file. */
.appartement-item{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: white;
  .container{
    .appartement-baniere-info{
      .appartement-images{
        margin-top: 2rem
      }
      border-bottom: 1px solid #b8b8b8;
      margin-top: 2rem;
      img{
        width: 100%;
        border-radius: 1rem;
      }
      ul{
        li{
          padding-block: .5rem;
          p:last-child{
            display: flex;
            align-items: baseline;
            font-size: 1rem;
            color: #C5C5C5;
            padding: 0.4em;
            .arrow{
              border-radius: 0;
              margin-left: 2rem;
              width: 2rem;
            }
          }
        }
      }
    }

    h2{
      margin-top: 2rem;
    }
    .appartement-details{
      li{
        display: grid;
        grid-template-columns: auto 1fr;
        div{
          padding-top: 1.5rem;
          padding-left: 1rem;
          p:first-child{
            font-size: .9rem;
            color: #C5C5C5;
          }
        }
        img{
          width: 3.5rem;
        }
      }
    }
  }
}
