<app-header></app-header>
<div class="flex">
  <img class="loader" *ngIf="!appartement" src="assets/img/loader.gif" alt="loader"/>
</div>
  <section class="appartement-item" *ngIf="appartement">

    <div class="container">
      <div class="appartement-baniere-info">
        <!--Titre-->
        <h2>Recherche « {{appartement.numero}} {{appartement.adresse}} »</h2>
        <!--Caroussel-->
        <div class="container-titler">
          <h2>Photos</h2>
          <a [routerLink]="['/modifier-appart', appartement.id ]" [queryParams]="{section: 'photos'}">Modifier</a>
        </div>
        <div class="carousel-container" *ngIf="images">
          <ngb-carousel>
            <ng-template ngbSlide *ngFor="let image of images">
              <div class="picsum-img-wrapper">
                <img [src]="image" [alt]="'Image appartement'" (load)="imageLoaded()" />
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
        <div *ngIf="isLoading" class="loader">
          <img class="loader" *ngIf="!appartement" src="assets/img/loader.gif" alt=""/>
        </div>
        <!--Descriptif-->
        <div class="container-titler">
          <h2>Description</h2>
          <a [routerLink]="['/modifier-appart', appartement.id ]" [queryParams]="{section: 'description'}">Modifier</a>
        </div>
        <ul class="appartement-details">
          <li>
            <img src="./assets/img/is-loue-icon.png" alt="">
            <div>
              <p>Ce bien est :</p>
              <p>{{ appartement.loue ? 'Loué' : 'Non loué' }}</p>
            </div>
          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Adresse:</p>
              <p>{{appartement.numero}} {{ appartement.adresse }}, {{ appartement.codePostal }} {{ appartement.ville }}</p>
            </div>

          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Nombre de pièces:</p>
              <p>{{ appartement.nombrePieces }}</p>
            </div>
          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Surface:</p>
              <p>{{ appartement.surface }} m²</p>
            </div>
          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Balcon:</p>
              <p>{{ appartement.balcon ? 'Oui' : 'Non' }}</p>
            </div>
          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Loyer Mensuel:</p>
              <p>{{ appartement.loyerMensuel }} €</p>
            </div>
          </li>
          <li>
            <img src="./assets/img/adresse-icon.png" alt="">
            <div>
              <p>Prix:</p>
              <p>{{ appartement.prix }} €</p>
            </div>
          </li>
        </ul>
        <!--Frais-->
        <div class="container-titler">
          <h2>Frais</h2>
          <a routerLink="/modifier-appart-frais/{{appartement.id}}">Modifier</a>
        </div>
        <table class="appartement-list-frais">
          <thead>
          <tr>
            <th>Type de Frais</th>
            <th>Montant (€)</th>
            <th>Fréquence</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let f of frais">
            <td>{{ f.typeFrais?.nom }}</td>
            <td>{{ f.montant }}</td>
            <td>{{ f.frequence }}</td>
          </tr>
          </tbody>
        </table>
        <!--Entrées/Sorties-->
        <div class="container-titler">
          <h2>Entrées / Sorties</h2>
          <a routerLink="/modifier-appart-mouvement/{{appartement.id}}">Modifier</a>
        </div>
        <table class="appartement-list-frais">
          <thead>
          <tr>
            <th>Mouvement(s)</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of mouvementsFormated">
              <td>{{ m.estEntree }}</td>
              <td>{{ m.date }}</td>
            </tr>

          </tbody>
        </table>
        <!--Statistiques-->
        <div class="container-titler">
          <h2>Statistiques</h2>
        </div>
        <ul class="appartement-list-stats">
          <li *ngIf="moyenneBenefices !== 0" (click)="showInfo($event)">
            <p>Moyenne bénéfices</p>
            <p>{{moyenneBenefices}}€ par mois
              <span>(renvenus annuels - dépenses annuels) ÷ 12</span>
            </p>
          </li>
          <li *ngIf="rentabiliteNette !== 0" (click)="showInfo($event)">
            <p>Rentabilité nette</p>
            <p>{{rentabiliteNette }}%
              <span>((renvenus annuels - dépenses annuels) ÷ prix) x 100</span>
            </p>
          </li>
          <li *ngIf="tauxVacanceLocatives !== 0" (click)="showInfo($event)">
            <p>Taux de vacance locatives</p>
            <p>{{tauxVacanceLocatives}}%
              <span>(jours vacants ÷ jours total) x 100</span>
            </p>
          </li>
        </ul>
        <!--Contacts-->
        <div class="container-titler">
          <h2>Contacts</h2>
        </div>
      </div>
      <button *ngIf="appartement.id" (click)="deleteOneAppartement(appartement.id)" class="appartement-item-btn-delete btn bg-danger">Suprimmer l'appartement</button>
    </div>
  </section>
<app-footer></app-footer>
