<app-header></app-header>
<section class="dashboard-finances">
  <div class="container">
    <!--<h1>Tableau de bord</h1>-->
    <div class="indicator-recette-depenses">
      <p>Total revenus<span>{{calculerTotalRevenusMensuels(mouvements)}}€</span></p>
      <p>Total dépenses<span>{{calculerTotalDepensesMensuelles(mouvements)}}€</span></p>
    </div>

    <canvas class="myChart" #myChart></canvas>
    <ul>
      <li>
        <div><span class="background mouvement"></span></div>
        <a href="/finances/ajouter-mouvement">Mouvements</a>
      </li>
      <li>
        <div><span class="background calculate"></span></div>

        <a href="/finances/calculateur-impots">Impôts</a>
      </li>
    </ul>

    <div *ngIf="mouvements.length > 0">
      <app-mouvement-list [mouvements]="mouvements" (mouvementsChange)="handleMouvementsChange($event)"></app-mouvement-list>
    </div>
    <p *ngIf="mouvements.length === 0">Aucune dépense ou source de revenu n'est enregistrée.</p>

  </div>
</section>

