.indicator-dep-rev{
  display: flex;
}
canvas{
  max-height: 20rem;
}
/*.progress-circle {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  width: 200px;

  svg {
    transform: rotate(-90deg);
  }

  .circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
  }

  .circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    stroke: #3c763d; !* Couleur de la barre de progression *!
    transition: stroke-dasharray 0.3s;
    transform-origin: center;
  }

  .percentage {
    fill: #333;
    font-size: 0.5em;
    text-anchor: middle;
    transform: rotate(90deg);
    transform-origin: center;
  }
}*/
