<app-header></app-header>
<div class="new-appart">
  <h2>Nouvel appartement</h2>
  <form (ngSubmit)="ajouterAppartement()">
    <label for="numero">Numéro de l'Gestion :</label>
    <input type="number" id="numero" name="numero" [(ngModel)]="appartement.numero" placeholder="Numéro de l'appartement">

    <label for="adresse">Adresse :</label>
    <input type="text" id="adresse" name="adresse" [(ngModel)]="appartement.adresse" placeholder="Adresse">

    <label for="codePostal">Code Postal :</label>
    <input type="text" id="codePostal" name="codePostal" [(ngModel)]="appartement.codePostal" placeholder="Code postal">

    <label for="ville">Ville :</label>
    <input type="text" id="ville" name="ville" [(ngModel)]="appartement.ville" placeholder="Ville">

    <label for="nombrePieces">Nombre de Pièces :</label>
    <input type="number" id="nombrePieces" name="nombrePieces" [(ngModel)]="appartement.nombrePieces" placeholder="Nombre de pièces">

    <label for="surface">Surface (m²) :</label>
    <input type="number" id="surface" name="surface" [(ngModel)]="appartement.surface" placeholder="Surface en m²">

    <label for="balcon">Balcon (0 - Non, 1 - Oui) :</label>
    <input type="number" id="balcon" name="balcon" [(ngModel)]="appartement.balcon" placeholder="Balcon (0 - Non, 1 - Oui)">

    <label for="prix">Prix :</label>
    <input type="number" id="prix" name="prix" [(ngModel)]="appartement.prix" placeholder="Prix en €">

    <button type="submit">Enregistrer</button>
  </form>
</div>
<app-footer></app-footer>
