<section class="appartement-frais-manage">
  <app-header></app-header>
  <div *ngIf="!isLoad" class="loader"></div>
  <app-appartement-frais-list
          [isEditable]="true"
          [appartementId]="appartementId"
          (fraisToUpdate)="setFraisToUpdate($event)"
          (fraisIsLoad)="handleFraisIsLoad($event)"
          >
  </app-appartement-frais-list>
  <app-appartement-frais-add *ngIf="!isUpdateMode && isLoad" [typesFrais]="typesFrais" [appartementId]="appartementId"></app-appartement-frais-add>
  <app-appartement-frais-update *ngIf="isUpdateMode" [typesFrais]="typesFrais" [frais]="fraisToUpdate" (cancelUpdateEvent)="handleCancelUpdate()"></app-appartement-frais-update>
  <app-footer></app-footer>
</section>
