.photos-liste{
  background-color: #f7f7f8;
  min-height: 100vh;


  &.on-load{
    display: flex;
    justify-content: center;

  }
  .photos-liste-container{
    padding: 0 2rem 0;
    h1{
      padding: 4rem 0 2rem;
      font-size: 2.2rem;
      font-weight: bold;
      color: #143b86;
      text-align: center;
    }
    max-width: 48rem;
    margin: 0 auto;
    background-color: white;
    .photos-liste-liste{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
      margin-bottom: 0 !important;
      li{
        position: relative;
        .photo{
          width: 100%;
          border-radius: 1rem;
          aspect-ratio: 1/1;
          object-fit: cover;
        }
        .actions-photos-container{
          right: 1rem;
          top: 1rem;
          position: absolute;
          display: flex;
          gap: 1rem;
          .button-is-principal{
            background-color: white;
            border-radius: 1.5rem;
            padding: 0 1.5rem;
            border: none;
            opacity: 0.3;
            font-size: 1.1rem;
            &.active{
              opacity: 1;
            }
          }
          .bouton-supprimer-image{

            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: #000000;
            border: none;
            opacity: .5;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
              width: 1rem;
              opacity: 1;
            }
            &:hover{
              opacity: 1;
            }
          }
        }

        .bouton-ajouter-image{
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          aspect-ratio: 1/1;
          object-fit: cover;
          border: 1px solid #c6c6c6;
        }

      }
    }
    .bouton-modifier-photos,
    .bouton-annuler-photos{
      border-radius: .5rem;
      border: none;
      font-size: 1.3rem;
      padding: 1rem;
      font-weight: bold;
      background-color: #1c5eeb;
      color: white;
      width: 100%;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
    .fil-ariane{
      padding-bottom: 2rem;
    }
  }
}
