<app-header></app-header>
<section class="appartement-add">
  <div class="container">
    <form [formGroup]="appartementForm" (ngSubmit)="ajouterAppartement()" aria-labelledby="formTitle">

      <h2 id="formTitle">Nouvel appartement</h2>

      <div>
        <label for="numero">Numéro de l'appartement <span aria-hidden="true">*</span></label>
        <input type="number" id="numero" formControlName="numero" aria-required="true">
      </div>

      <div>
        <label for="adresse">Adresse <span aria-hidden="true">*</span></label>
        <input type="text" id="adresse" formControlName="adresse" aria-required="true">
      </div>

      <div>
        <label for="codePostal">Code Postal <span aria-hidden="true">*</span></label>
        <input type="text" id="codePostal" formControlName="codePostal" aria-required="true">
      </div>

      <div>
        <label for="ville">Ville <span aria-hidden="true">*</span></label>
        <input type="text" id="ville" formControlName="ville" aria-required="true">
      </div>

      <div>
        <label for="pays">Pays</label>
        <select id="pays" class="form-control" formControlName="pays">
          <option *ngFor="let pays of paysList" [value]="pays.name">{{pays.name}}</option>
        </select>
      </div>

      <div>
        <label for="nombrePieces">Nombre de Pièces <span aria-hidden="true">*</span></label>
        <input type="number" id="nombrePieces" formControlName="nombrePieces" aria-required="true">
      </div>

      <div>
        <label for="surface">Surface (m²) <span aria-hidden="true">*</span></label>
        <input type="number" id="surface" formControlName="surface" aria-required="true">
      </div>

      <div>
        <label for="balcon">Balcon (0 - Non, 1 - Oui)</label>
        <input type="number" id="balcon" formControlName="balcon">
      </div>

      <div>
        <label for="prix">Prix <span aria-hidden="true">*</span></label>
        <input type="number" id="prix" formControlName="prix" aria-required="true">
      </div>


      <button class="{{appartementForm.valid ? '' : 'disabled'}}" type="submit" [disabled]="!appartementForm.valid">Enregistrer</button>
      <p><span aria-hidden="true">*</span> Veuillez remplir tous les champs</p>
    </form>
  </div>
</section>
<app-footer></app-footer>
