<section class="appartement-item">
  <app-header></app-header>
  <div *ngIf="!appartement" class="loader"></div>
  <div  *ngIf="appartement" class="appartement-item-container">
    <app-appartement-picture-element [appartement]="appartement"></app-appartement-picture-element>
    <app-appartement-desc-element [appartement]="appartement"></app-appartement-desc-element>
    <app-appartement-frais-list [appartementId]="appartement.id"  *ngIf="hasProprietaireRole()" ></app-appartement-frais-list>
    <app-appartement-periode-list [appartementId]="appartement.id"></app-appartement-periode-list>
    <app-appartement-metrique-element [appartementId]="appartement.id" *ngIf="hasProprietaireRole()"></app-appartement-metrique-element>
    <app-appartement-contact-list [appartementId]="appartement.id"></app-appartement-contact-list>
    <div class="appartement-item-btn-remove-container container">
      <button *ngIf="hasProprietaireRole()" (click)="supprimerUnAppartement(appartement.id)">
        Supprimer l'appartement
      </button>
    </div>
  </div>
  <app-footer></app-footer>
</section>
