<app-header></app-header>
<div class="flex">
  <img class="loader" *ngIf="!appartement" src="assets/img/loader.gif" alt="loader"/>
</div>
  <section class="appartement-item" *ngIf="appartement">

    <div class="appartement-baniere-info">
      <!--Titre-->
      <div class="container">
        <h2>Recherche « {{appartement.numero}} {{appartement.adresse}} »</h2>
      </div>
        <!--Caroussel-->
      <app-appartement-picture-element [appartement]="appartement"></app-appartement-picture-element>
      <!--Descriptif-->
      <app-appartement-desc-element [appartement]="appartement"></app-appartement-desc-element>
      <!--Frais-->
      <app-appartement-frais-list  *ngIf="isProprietaire()" [appartementId]="appartement.id" [appartementFrais]="appartement.fraisFixe"></app-appartement-frais-list>
      <!--Entrées/Sorties-->
      <app-appartement-periode-list [appartementId]="appartement.id" [appartPeriodLocation]="appartement.periodLocation"></app-appartement-periode-list>
      <!--Statistiques-->
      <app-appartement-metrique-element *ngIf="isProprietaire()" [appartement]="appartement"></app-appartement-metrique-element>
      <!--Contacts-->
      <app-appartement-contact-list [appartementId]="appartement.id" [appartementContacts]="appartement.contacts"></app-appartement-contact-list>
    </div>
    <div class="container">
      <button [routerLink]="['/appartement/' +  appartement.id + '/gestionnaires']"
       class="appartement-tem-btn-gestionnaires" >Voir gestionnaires</button>
      <button *ngIf="appartement.id && isProprietaire()" (click)="supprimerUnAppartement(appartement.id)" class="appartement-item-btn-delete btn bg-danger">Suprimmer l'appartement</button>
    </div>
  </section>
<app-footer></app-footer>
