<app-header></app-header>
<div class="flex">
  <img class="loader" *ngIf="!appartement" src="assets/img/loader.gif" alt="loader"/>
</div>
  <section class="appartement-item" *ngIf="appartement">

    <div class="appartement-baniere-info">
      <!--Titre-->
      <div class="container">
        <h2>Recherche « {{appartement.numero}} {{appartement.adresse}} »</h2>
      </div>
        <!--Caroussel-->
      <app-appartement-picture-element [appartement]="appartement"></app-appartement-picture-element>
      <!--Descriptif-->
      <app-appartement-desc-element [appartement]="appartement"></app-appartement-desc-element>
      <!--Frais-->
      <app-appartement-frais-list  *ngIf="isProprietaire()" [appartementId]="appartement.id" [appartementFrais]="fraisFixe"></app-appartement-frais-list>
      <!--Entrées/Sorties-->
      <app-appartement-periode-list [appartementId]="appartement.id" [appartPeriodLocation]="periodLocation"></app-appartement-periode-list>
      <!--Statistiques-->
      <app-appartement-metrique-element *ngIf="isProprietaire()" [appartement]="appartement"></app-appartement-metrique-element>
      <!--Contacts-->
      <app-appartement-contact-list [appartementId]="appartement.id" [appartementContacts]="appartement.contacts"></app-appartement-contact-list>
    </div>
    <div class="container">
      <div class="actions-container">
        <div class="appartement-actions" [routerLink]="['/appartement/' +  appartement.id + '/gestionnaires']"
        >
          <span>Gestionnaires</span>
          <img src="./assets/img/gest-icon.svg" alt="Icone pour la navigation vers les gestionnaire">
        </div>
        <div class="appartement-actions corbeille" *ngIf="appartement.id && isProprietaire()" (click)="supprimerUnAppartement(appartement)">
          <span>Corbeille</span>
          <img src="./assets/img/trash-icon.svg" alt="Icone pour la navigation vers les gestionnaire">
        </div>

      </div>
      </div>
  </section>
<app-footer></app-footer>
