/* Importing Bootstrap SCSS file. */

.appartement-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  .appartement-item-container{
    padding: 1rem 0;
  }
  .appartement-item-btn-remove-container{
    button{
      width: 100%;
      background: #d20707;
      color: white;
      font-weight: bold;
      padding: .7rem;
      border: 2px solid;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #CA2E55;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    margin: auto;
    display: block;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  app-header {
    margin: 0;
  }
  app-footer {
    margin-bottom: 0;
    margin-top: 0;
  }
}
