/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/scss/bootstrap';

*{
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}
h2{
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body{
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  background-color: #FCFCFC;

}
.container {
  max-width: 120rem;
  margin: auto;
}

ul{
  list-style: none !important;
  padding-left: 0 !important;
}
p{
  margin: 0 !important;
}
