ul{
  list-style: none !important;
  padding-left: 0 !important;
}
p{
  margin: 0 !important;
}
.iti.iti--allow-dropdown {
  width: 100%;
}
#telephone {
  width: 100%;
  border: none;
}
.country-dropdown {
  width: 25rem !important;
}
.iti__country-list{
  height: 8rem;
}
/* --------------- V2 -------------- */

@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
@import 'node_modules/bootstrap/scss/bootstrap';

*{
  margin: auto 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
h2{
  font-weight: 400;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

body{
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  min-height: 100vh;
}
a{
  color: #143b86;
}
.container {
  max-width: 120rem;
  margin: auto;
  padding: 2rem;
}

/* carroussel custom style */

.carousel-inner {
  height: 100%;
}
.carousel-item {
  height: 100%;
}
.carousel-container ngb-carousel img{
  max-height: 100%;
}
.carousel-item div {
  height: 100%;
}

.custom-card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  .custom-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fcfcfc;
    padding: 1rem;
    border-bottom: 1px solid #cecece;
    h2 {
      font-size: 1.6rem;
      padding: 0;
      margin: 0;
      font-weight: bold;
      color: #143b86;
    }

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: .3rem;
      border: 1px solid #d8d8d8;
      box-shadow: rgba(188, 189, 191, 0.2) 0 2px 11px;
      background-color: white;
    }
  }
  .actions-boutons {
    display: flex;
    gap: .5rem;
    align-items: center;
    button {
      height: 3rem;
      padding: 0 1rem;
      border: 1px solid #d8d8d8;
      box-shadow: rgba(188, 189, 191, 0.2) 0 2px 11px;
      background-color: white;
      border-radius: 1.5rem;
      color: red;
    }
  }
}
table{
  width: 100%;
  margin-top: 1.5rem;
  table-layout: fixed;
  .btn-editer-basique{
    background-color: #1c5eeb;
    color: white;
    border-radius: .5rem;
    margin: .2rem;
    padding: .3rem 1.1rem;
    text-decoration: none;
    font-size: 0.8rem;
  }
}
thead, tbody, tfoot, tr, td, th {
  font-size: 1.2rem;
  padding: .5rem;
  border: 1px solid lightgray;
}
td, th, .locataire{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 28rem) {
  thead, tbody, tfoot, tr, td, th {
    font-size: 3.2vw;
  }
}
strong{
  color: #143b86;
}

.formulaire-basique{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #f7f7f8;

  .header{
    display: flex;
    align-items: end;
    width: max-content;
    max-width: 100%;
    margin: 2rem auto;
    gap: 1rem;
    h1{
      margin-bottom: .1rem;;
      font-size: 2.2rem;
      font-weight: bold;
      color: #143b86;
    }
    img{
      max-width: 4rem;
    }
  }
  form{

    background-color: white;
    margin-top: 0;
    padding: 2rem;
    max-width: 100%;
    .champs{
      display: flex;
      flex-direction: column;
      .champ{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        margin-bottom: 1rem;
        .remplacer-dpe-container{
          display: flex;
          gap: 1rem;
          align-items: center;
          button {
            width: max-content;
            margin: 0;
            background-color: red;
          }
          .file-name{
            color: black;
            font-size: 1.4rem;
          }

        }


        label{
          font-weight: bold;
          color: #143b86;
        }
        input, select, , ngx-intl-tel-input{
          width: 44rem;
          max-width: 100%;
          border-radius: .5rem;
          border: 1px solid #989797;
          padding: .4rem;
          color: #000;
        }
        select{
          padding: .8rem;
          background-color: white;
        }

        div{
          color: red;
          font-size: 1.2rem;
        }
        #telephone {
          padding-left: 4.5rem;
        }
        .iti__selected-flag.dropdown-toggle{
          margin-top: 0;
        }

      }
      .checkbox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        input[type="checkbox"]{
          width: 1.5rem;
        }
      }
    }
    .error{
      width: 44rem;
      max-width: 100%;
    }
    button{
      margin: 1rem auto 0;
      width: 44rem;
      max-width: 100%;
      border-radius: .5rem;
      border: none;
      font-size: 1.3rem;
      padding: 1rem;
      font-weight: bold;
      background-color: #1c5eeb;
      color: white;
    }
    button[disabled]{
      background-color: gainsboro;
      color: darkgray;
    }
    .mode-connexion{
      margin: auto;
      text-decoration: none;
      font-weight: bold;
    }
    .fil-ariane{
      color: #143b86;
      display: flex;
      max-width: 120rem;
      margin: auto;
      a{
        padding: 1rem 1rem 1rem 0;
        display: block;
      }
      .arrow-next{
        color: grey;
        font-weight: bold;
        padding-right: 1rem;
      }
      .onglet-actuel{
        text-decoration: underline;
      }
    }
    .btn-supprimer-formulaire-basique{
      width: 100%;
      padding: 1rem;
      border: 1px solid red;
      background-color: red;;
      color: white;
      border-radius: .5rem;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.22);
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}

