<section class="logements">
  <app-header [h1]="'Vue d\'ensemble'"></app-header>

  <div class="contenu-logements {{loading ? 'on-load' : ''}}">
    <div class="container">
      <div class="logements-title" *ngIf="!loading && !error">
        <p>Retrouvez ici l'ensemble de vos logements et les informations principales</p>
      </div>
      <app-loader *ngIf="loading"></app-loader>
      <div *ngIf="error" class="error">{{ error }}</div>
      <ul *ngIf="logements.length > 0">
        <li *ngFor="let logement of logements">
          <app-photo-caroussel [logementId]="logement.masqueId" [photos]="logement.photos" [onItem]="false"></app-photo-caroussel>
          <a href="/logements/{{logement.masqueId}}">
            <div class="logement-infos" *ngIf="logement.adresse && logement.caracteristiques">
              <div class="header-logement-infos">
                <p class="type-logement">{{ logement.caracteristiques.typeDeLogement | titlecase }}</p>
                <p class="prix-loyer-actuelle">{{getTarifActuel(logement.periodesDeLocation)}}</p>
              </div>
              <p class="ville-logement">{{logement.adresse.ville}}</p>
              <p class="details-logement">{{logement.caracteristiques.nombreDePieces}} pièces • {{logement.caracteristiques.surfaceLogement }} m² {{logement.caracteristiques.meubleeOuNon ? '•  Meublé' : ''}}  {{getBalconOuTerrasse(logement.caracteristiques)}}</p>
              <img class="dpe-logement" *ngIf="logement.caracteristiques.dpeLettre !== null" src="./assets/img/v2/energie-{{logement.caracteristiques.dpeLettre.toLowerCase()}}-icon.png" alt="Icône de la classe énergie">
            </div>
            <div class="logement-infos" *ngIf="!logement.adresse || !logement.caracteristiques">
              <div class="header-logement-infos">
                <p class="type-logement-nouveau">Nouveau logement</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <button (click)="creerLogement()" class="btn-ajout-logement" *ngIf="!error && !loading">Ajouter un logement</button>
    </div>
  </div>
</section>
