<section class="logements">
  <app-header [h1]="'Vue d\'ensemble'"></app-header>

  <div class="contenu-logements {{loading ? 'on-load' : ''}}">
    <div class="container">
      <div class="logements-title" *ngIf="!loading">
        <p>Retrouvez ici l'ensemble de vos logements et les informations principales</p>
      </div>
      <app-loader *ngIf="loading"></app-loader>
      <div *ngIf="error" class="error">{{ error }}</div>
      <ul *ngIf="logements.length > 0">
        <li *ngFor="let logement of logements">
          <app-photo-caroussel [photos]="logement.photos" [onItem]="false"></app-photo-caroussel>
          <a href="/logements/{{logement.masqueId}}">
          <div class="logement-infos" *ngIf="logement.adresse && logement.caracteristiques">
            <div class="header-logement-infos">
              <p class="type-logement">{{ logement.caracteristiques.typeDeLogement | titlecase }}</p>
              <p class="prix-loyer-actuelle">{{logement.periodesDeLocation[0] ? (logement.periodesDeLocation[0].tarif | currency: 'EUR':'symbol':'1.0-0') +  ' /mois': 'Non loué'}}</p>
            </div>
            <p class="ville-logement">{{logement.adresse.ville}}</p>
            <p class="details-logement">{{logement.caracteristiques.nombreDePieces}} pièces • {{logement.caracteristiques.surfaceLogement }} m² {{logement.caracteristiques.meubleeOuNon ? '•  Meublé' : ''}}  {{getBalconOuTerrasse(logement.caracteristiques)}}</p>
            <img class="dpe-logement" *ngIf="logement.caracteristiques.dpeLettre !== null" src="./assets/img/energie-{{logement.caracteristiques.dpeLettre.toLowerCase()}}-icon.png" alt="Icône de la classe énergie">
          </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
