.fil-ariane{
  color: #143b86;
  display: flex;
  max-width: 110rem;
  margin: auto;
  padding: 1rem;
  a{
    padding: 1rem 1rem 1rem 0;
    display: block;
  }
  .arrow-next{
    color: grey;
    font-weight: bold;
    padding-right: 1rem;
  }
  .onglet-actuel{
    text-decoration: underline;
    color: #143b86;

  }
}
