.appartement-picture-update {
  margin-top: 1rem;
  margin-bottom: 1rem;

  .container {
    form {
      font-size: .8rem;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h2 {
        font-size: .9rem;
      }

      div {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        textarea {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;

          &:focus {
            outline: 2px solid #143b86;
          }
        }

        button.bg-danger {
          background-color: red;
          color: white;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          margin-top: 5px;

          &:hover {
            background-color: darkred;
          }
        }
      }
      .actions-container{
        display: flex;
        align-items: center;
        margin-bottom: 0;
        justify-content: space-between;
        .info-img-is-loading{
          display: flex;
          margin: 0;
          .loader{
            width: 2rem;

          }
        }

        .add-img-btn {
          background-color: #143b86;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #0056b3; // Une teinte plus foncée pour le survol
          }
        }
      }

    }
  }
}
