<section class="appartement-picture-update">
  <div class="container">
    <form *ngIf="pictureUpdateForm" [formGroup]="pictureUpdateForm" aria-labelledby="pictureUpdateFormTitle">
      <h2 id="pictureUpdateFormTitle">Mise à jour des images de l'appartement</h2>

      <div *ngFor="let control of imagesFormArray.controls; let i = index">
        <label for="image{{i}}">
          Photo {{i + 1}}
        </label>
        <div class="thumbnail-container">
          <img [src]="getFormControl(i).value" alt="Image {{i + 1}}" class="thumbnail" />
        </div>
        <button class="bg-danger" type="button" (click)="removeImage(i)">Supprimer</button>
      </div>
      <div class="actions-container">
        <div *ngIf="imgIsLoading" class="info-img-is-loading">
          <p>Téléchargement en cours...</p>
          <img class="loader" src="assets/img/loader.gif" alt="loader" height="512" width="512">
        </div>
        <div class="file-upload">
          <label for="file-upload" class="custom-file-upload">
            Ajouter une image
          </label>
          <input *ngIf="!imgIsLoading" id="file-upload" type="file" (change)="onFileSelected($event)" accept="image/*">
          <span class="file-name">Aucun fichier sélectionné</span>
        </div>

        <!--
                <input *ngIf="!imgIsLoading" type="file" (change)="onFileSelected($event)" accept="image/*">
        -->
        <button class="add-img-btn" type="button" (click)="mettreAJourUnAppartementPourUtilisateur()">Mettre à jour</button>
      </div>
    </form>
  </div>
</section>
