.appartement-picture-update {
  padding-top: 1rem;
  padding-bottom: 1rem;

  .container {
    form {
      font-size: .8rem;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h2 {
        font-size: .9rem;
      }

      div {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        .thumbnail{
          width: 10rem;
        }

        button.bg-danger {
          background-color: red;
          color: white;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          margin-top: 5px;

          &:hover {
            background-color: darkred;
          }
        }
      }
      .actions-container{
        display: flex;
        margin-bottom: 0;
        align-items: start;
        flex-direction: column;
        .info-img-is-loading{
          display: flex;
          margin: 0;
          .loader{
            width: 2rem;
            height: 2rem;
          }
        }
        .file-upload {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-bottom: 0;

        }

        .custom-file-upload {
          padding: 8px 16px;
          font-family: Arial, sans-serif;
          color: #fff;
          background-color: #143b86;
          border: 1px solid #143b86;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s ease;
          text-align: center;
          font-weight: lighter;
        }

        .custom-file-upload:hover {
          background-color: #0056b3;
        }

        .custom-file-upload:active {
          background-color: #0056b3;
        }

        input[type="file"] {
          display: none; /* Masque l'input d'origine */
        }

        .file-name {
          font-size: 14px;
          color: #555;
          font-family: Arial, sans-serif;
        }


        .add-img-btn {
          background-color: #143b86;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
          width: 100%;
          margin-top: 1rem;
          &:hover {
            background-color: #0056b3; // Une teinte plus foncée pour le survol
          }
        }
      }

    }
  }
}
