<h2>Ajouter un Frais</h2>
<form (ngSubmit)="addFraisToAppartement()">
  <label for="montant">Montant:</label>
  <input type="number" id="montant" name="montant" [(ngModel)]="nouveauFrais.montant" required>
  <label for="typeFrais">Type de frais :</label>
  <select id="typeFrais" name="typeFrais" [(ngModel)]="selectedTypeFrais" required>
    <option *ngFor="let typeFrais of typesFrais" [value]="typeFrais.id">{{ typeFrais.nom }}</option>
  </select>
  <label for="frequence">Fréquence:</label>
  <select id="frequence" name="frequence" [(ngModel)]="nouveauFrais.frequence" required>
    <option value="MENSUELLE">Mensuelle</option>
    <option value="TRIMESTRIELLE">Trimestrielle</option>
    <option value="ANNUELLE">Annuelle</option>
  </select>

  <button type="submit">Ajouter</button>
</form>

