<section class="mouvement-list">
    <h2>Revenus</h2>
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Montant</th>
        <th>Fréquence</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mouvement of revenus">
        <td>{{ mouvement.nom }}</td>
        <td>{{ mouvement.montant | currency:'EUR' }}</td>
        <td>{{ getFrequenceDescription(mouvement.frequence) }}</td>
        <td class="actions-container">
          <a href="https://www.google.com/search?q=Optimiser {{ mouvement.nom }}" class="btn btn-info btn-sm" target="_blank">?</a>
          <a href="/finances/editer-mouvement/{{mouvement.id}}" class="btn btn-primary btn-sm">MAJ</a>
          <button class="btn btn-danger btn-sm" (click)="onDelete(mouvement.id)">X</button>
        </td>
      </tr>
      </tbody>
    </table>

    <h2>Dépenses</h2>
    <table>
      <thead>
      <tr>
        <th>Nom</th>
        <th>Montant</th>
        <th>Fréquence</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mouvement of depenses">
        <td>{{ mouvement.nom }}</td>
        <td>{{ mouvement.montant | currency:'EUR' }}</td>
        <td>{{ getFrequenceDescription(mouvement.frequence) }}</td>
        <td class="actions-container">
          <a href="https://www.google.com/search?q=Optimiser son abonnement ou dépense {{ mouvement.nom }}" class="btn btn-info btn-sm" target="_blank">?</a>

          <a href="/finances/editer-mouvement/{{mouvement.id}}" class="btn btn-primary btn-sm">MAJ</a>
          <button class="btn btn-danger btn-sm" (click)="onDelete(mouvement.id)">X</button>
        </td>
      </tr>
      </tbody>
    </table>
</section>
