
.mouvement-list{
  font-size: .7rem;
}
a{
  font-size: .7rem;
}
@media (min-width: 400px) {
  .mouvement-list{
    font-size: .9rem;
  }
  a{
    font-size: .9rem;
  }
}

@media (min-width: 600px) {
  .mouvement-list{
    font-size: 1.1rem;
  }

  a{
    font-size: 1.1rem;
  }
}
tr,td{
  height: 100%;
}
.actions-container{
  display: inline-flex;
  gap:.5rem;

  button{
    margin:auto;
  }

}
